/* begin list */
div.list.has-dropzone{
    margin-right: 200px;    
    border-right: 1px solid #eee;
    min-height: 400px;
}

div.listItem{
	position: relative;
	border-bottom: 1px solid #eee;
	padding: 20px 20px;
	margin: 0;
}

	div.list.has-photo div.listItem{
		min-height: 105px;
		padding-left: 105px;
		padding-top: 27px;
	}

div.listItem:last-child{
  	border-bottom: none;
}

div.listItem h2{
	line-height: 1em;
	margin: 0;
	padding: 0 0 5px 0;
	font-size: 1.25em;
	font-weight: bold;
	width: 80%;
	color: #888;
	background: none;
	border: none;
}

div.listItem.sortable h2{
  	margin-left: 20px;
}

div.listItem h2 a{
    display: inline-block;
    width: 300px;
}

div.listItem .draft-tag{
	position: absolute;
	top: 19px;
	right: 85px;
	font-size: 0.7em;
	text-transform: uppercase;
	color: #fff;
	background-color: #FF9900;
	padding: 2px 10px;
	border-radius: 10px;
	font-weight: normal;
	letter-spacing: 1.25px;
}

div.listItem h2 small{
    font-weight: normal;
    font-size: 0.75em;
    margin-left: 10px;
}

div.listItem p{
	width: 80%;
	margin: 0;
	padding: 0 0 2px 0;
	color: #888;
}

div.listItem p.lastUpdated, div.listItem em{
	color: #ccc;
	font-size: 11px;
	font-style: normal;
	text-transform: uppercase;
}


div.placeholder{
	height: 40px;
	border: 1px solid #fbec5d !important;
	background: #fbec5d !important;
} 

div.listItem.sortable{
	padding-left: 40px;
}

div.listItem span.hook{
	position: absolute;
	top: 20px;
	left: 20px;
	display: block;
	width: 25px;
	height: 25px;
	background: #f0f0f0;
	line-height: 25px;
	color: #aaa;
	text-align: center;
}

div.listItem span.hook:hover{
	cursor: n-resize;
	background: #f0f0f0 url('../images/app-sprite.png') no-repeat -100px 0;
}

div.listItem.has-thumb{
	min-height: 110px;
}

div.listItem.has-thumb h2, div.listItem.has-thumb p, div.listItem.has-thumb em{
	margin-left: 90px;
}

div.listItem span.image{
	position: absolute;
	top: 20px;
	left: 20px;
} 

div.listItem span.image img{
    width: 75px;
    height: 75px;
}

div.listItem span.icon{
	position: absolute;
	top: 15px;
	left: 60px;
}

div#pageFileList div.listItem span.icon{
	left: 15px;
}

div.listItem a.switchSite{
	position: absolute;
	top: 15px;
	right: 15px;  
	display: block;
	width: 20px;
	height: 50px;
	border: 1px solid #ccc;
}

div.listItem a.switchSite.selected{
  	background: #fbec5d;
}

div.listItem p.size{
	font-size: 12px;
	color: #888;
	line-height: 17px;
}

div.listItem button{
	position: absolute;
	top: 15px;
	right: 20px;
}

div.listItem button.update-photo{
	box-sizing: border-box;
	right: auto;
	left: 20px;
	width: 65px;
	height: 65px;
	padding-top: 4px;
	background-color: #fff;
	border: 2px dashed #eee;
	border-radius: 50%;
	color: #ccc;
	font-size: 10px;
	text-transform: uppercase;
	outline: none;
}

	div.listItem button.update-photo.has-photo{
		border: none;
		background-size:cover;
	}

	div.listItem button.update-photo.has-photo span{
		display: none;
	}

	div.listItem button.update-photo:hover{
		border-color: #3299BB;
	}


/* begin images */
div#imageList div.listItem span.field{
 	margin-left: 10px;
}

div#imageList div.listItem span.field input{
	 width: 300px;
}

div#imageList div.listItem img{
  	margin-bottom: 10px;
}

.list-loading, .list-none{
    padding: 30px 20px 20px 20px;
    color: #ccc;
    text-transform: uppercase;
    font-size: 12px;
}

.list-instructions{
	margin: 20px;
}

/* begin actions */
.listItem .remove{
	position: absolute;
	top: 19px;
	right: 12px;
	display: inline-block;
	width: 25px;
	height: 25px;
	color: #ccc;
	line-height: 25px;
}

.listItem .remove i{
	font-size: 20px;
}

.listItem .remove:hover{
    color: #B11623;
    text-decoration: none;
}

.listItem .edit{
	position: absolute;
	top: 20px;
	right: 42px;
	display: inline-block !important;
	width: 25px !important;
	height: 25px !important;
	color: #ccc;
}

.listItem .edit:hover{
    color: #ff9900;
    text-decoration: none;
}

/* handles an editable mode for a list-item */
.editable-selected{
	position: absolute;
	top: 18px;
	right: 45px;
	color: #fff;
	background-color: #ff9900;
	border-radius: 10px;
	padding: 2px 10px;
	display: none;
	font-size: 0.85em;
}

.edit-mode .editable-selected{
	display: inline-block;
}

.cancel-edit{
	position: absolute;
	top: 20px;
	right: 20px;
	color: #fff;
	display: none;
	font-size: 0.85em;
	color: #ff9900;
}

	.cancel-edit:hover{
		color: #888;
	}

.edit-mode .cancel-edit{
	display: block;
}

.edit-mode .edit, .edit-mode .remove{
	display: none !important;
}
	

/* handles statuses */
div.listItem span.status{
	position: absolute;
	top: 20px;
	right: 52px;
	color: #aaa;
	text-align: right;
	cursor: pointer;
	padding: 0;
}

	div.listItem span.status i.published{
		color: #7ec57e;
		font-size: 20px;
	}
	
	div.listItem span.status i.not-published{
		color: #A4110A;
		font-size: 20px;
	}
	
	div.listItem span.status.published i.not-published{
		display: none;
	}
	
	div.listItem span.status.not-published i.published{
		display: none;
	}
	
/* list-menu */
.list-menu{
	position: relative;
	border: 1px solid #f0f0f0;	
	margin: 20px 20px 0 20px;
	padding: 10px 10px;
	min-height: 40px;
}

	.list-menu-actions{
		position: absolute;
		top: 7px;
		right: 5px;
	}

	.list-menu i{
		margin-left: 5px;
		color: #aaa;	
		padding: 4px 5px 0 5px;
		font-size: 16px;
	}
	
	.list-menu .active i{
		background-color: #fff;
		color: #FF9900;
	}
	
	.list-menu a:hover i{
		background-color: #fff;
	}
	
	.list-menu p{
		margin: 0;
		padding: 0;
		color: #aaa;
		font-size: 0.95em;
		max-width: 80%;
		text-align: left;
	}
	
	.list-menu p a{
		margin-left: 5px;
	}
	
		.list-menu .categories .caret{
			border-top-color: #888;
			margin-left: 3px;
		}
	
		.list-menu .categories .btn-default{
			border: none;
			padding: 0 5px;
			margin-top: -5px;
			color: #aaa;
			font-size: 12px;
			text-transform: uppercase;
			box-shadow: 0;
			border-radius: 0;
		}
		
	.list-menu .dropdown-menu{
		border-radius: 0;
		box-shadow: none;
		border: 1px solid #f0f0f0;
	}
	
		.list-menu .dropdown-menu a{
			color: #aaa;
			font-size: 13px;
		}
		
/* menuItemsList */
.nested-left, .nested-right{
	font-size: 18px;
	margin-right: 10px;
	display: inline-block;
	width: 25px;
	height: 25px;
	line-height: 25px;
	text-align: center;
	cursor: pointer;
	float: left;
}
	.nested-left .fa-spin, .nested-right .fa-spin{
		display: none;
	}
	
	.nested-left.active .fa-spin, .nested-right.active .fa-spin{
		display: inline-block;
	}

	.nested-left.active .arrow, .nested-right.active .arrow{
		display: none;
	}
	
	.nested-left i, .nested-right i{
		color: #aaa;
	}
	
	.nested-left:hover, .nested-right:hover{
		background-color: #FF9900;
	}
	
	.nested-left:hover i, .nested-right:hover i{
		color: #fff;
	}
	
	.nested-left{
		display: none;
		margin-left: 35px;
	}
	
	.nested-right{
		display: inline-block;
	}
	
	.is-nested .nested-left{
		display: inline-block;
	}
	
	.is-nested .nested-right{
		display: none;
	}

.listItem .url{
	display: block;
	color: #ccc;
	font-weight: normal;
	font-size: 13px;
	margin-top: 5px;
}

/* image-list */
.image-list{
	margin: 0 15px;	
}

.image-item{
	position: relative;
	display: inline-block;
	width: 200px;
	height: 200px;
	margin: 15px 15px 15px 0;
	border: 1px solid #ddd;
}

	.image-item h2{
		position: absolute;
		top: 0;
		left: 0;
		margin: 0;
		padding: 0;
		width: 100%;
		font-size: 18px;
		background-color: #fff;
		border: none;
		border-bottom: 1px solid #f0f0f0;
		height: 30px;
		line-height: 30px;
		text-align: center;
		z-index: 2;
		font-size: 14px;
		color: #888;
		text-transform: uppercase;
	}
	
	.image-item img{
		position: absolute;
		top: 0;
		left: 0;
		width: 198px;
		height: 198px;
		z-index: 1;
	}

	.image-item div{
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		background-color: #fff;
		color: #888;
		border-top: 1px solid #f0f0f0;
		font-size: 13px;
		height: 35px;
		line-height: 35px;
		text-align: center;
		z-index: 2;
		cursor: pointer;
	}
	
	.image-item div.secondary{
		background-color: #f0f0f0;
		color: #555;
	}
	
		.image-item div:hover{
			background-color: #fff;
			color: #555;
		}
		
	.image-item .active-button{
		display: none;
	}
	
	.image-item .inactive-button{
		display: block;
	}
	
	.image-item.active .active-button{
		display: block;
	}
	
	.image-item.active .inactive-button{
		display: none;
	}
	
	.image-item.active h2{
		background-color: #81b841;
		color: #fff;
		border-bottom: 1px solid #81b841;
	}

/* #usersList */
#usersList .role{
	display: inline-block;
	background-color: #aaa;
	border-radius: 20px;
	padding: 2px 10px;
	color: #fff;
	font-size: 12px;
	font-family: "Roboto", sans-serif;
}

	#usersList .role.admin{
		background-color: #D25F37;
	}
	
	#usersList .role.contributor{
		background-color: #94D237;
	}
