/* begin list */
div.list.has-dropzone{
    margin-right: 200px;    
    border-right: 1px solid #eee;
}

div.listItem{
	position: relative;
	border-bottom: 1px solid #eee;
	padding: 20px 20px;
	margin: 0;
}

div.listItem:last-child{
  	border-bottom: none;
}

div.listItem h2{
	line-height: 1em;
	margin: 0;
	padding: 0 0 5px 0;
	font-size: 1.25em;
	font-weight: bold;
	width: 80%;
	color: #888;
	background: none;
	border: none;
}

div.listItem.sortable h2{
  	margin-left: 20px;
}

div.listItem h2 a{
    display: inline-block;
    width: 300px;
}

div.listItem h2 small{
    font-weight: normal;
    font-size: 0.75em;
    margin-left: 10px;
}

div.listItem p{
	width: 80%;
	margin: 0;
	padding: 0 0 2px 0;
}

div.listItem p.lastUpdated, div.listItem em{
	color: #aaa;
	font-size: 0.85em;
	font-style: normal;
}


div.placeholder{
	height: 40px;
	border: 1px solid #fbec5d !important;
	background: #fbec5d !important;
} 

div.listItem.sortable{
	padding-left: 40px;
}

div.listItem span.hook{
	position: absolute;
	top: 15px;
	left: 20px;
	display: block;
	width: 25px !important;
	height: 25px !important;
	background: #f0f0f0 url('../images/app-sprite.png') no-repeat -75px 0;
}

div.listItem span.hook:hover{
	cursor: n-resize;
	background: #f0f0f0 url('../images/app-sprite.png') no-repeat -100px 0;
}

div.listItem.has-thumb{
	min-height: 110px;
}

div.listItem.has-thumb h2, div.listItem.has-thumb p, div.listItem.has-thumb em{
	margin-left: 90px;
}

div.listItem span.image{
	position: absolute;
	top: 20px;
	left: 20px;
} 

div.listItem span.image img{
    width: 75px;
    height: 75px;
}

div.listItem span.icon{
	position: absolute;
	top: 15px;
	left: 60px;
}

div#pageFileList div.listItem span.icon{
	left: 15px;
}

div.listItem a.switchSite{
	position: absolute;
	top: 15px;
	right: 15px;  
	display: block;
	width: 20px;
	height: 50px;
	border: 1px solid #ccc;
}

div.listItem a.switchSite.selected{
  	background: #fbec5d;
}

div.listItem p.size{
	font-size: 12px;
	color: #888;
	line-height: 17px;
}

div.listItem button{
	position: absolute;
	top: 15px;
	right: 20px;
}


/* begin images */
div#imageList div.listItem span.field{
 	margin-left: 10px;
}

div#imageList div.listItem span.field input{
	 width: 300px;
}

div#imageList div.listItem img{
  	margin-bottom: 10px;
}

.list-loading, .list-none{
    padding: 20px;
}

/* begin actions */
div.listItem a.remove{
	position: absolute;
	top: 20px;
	right: 12px;
	display: inline-block !important;
	width: 25px !important;
	height: 25px !important;
	color: #ccc;
}

div.listItem a.remove:hover{
    color: #B11623;
    text-decoration: none;
}


div.listItem span.status{
	position: absolute;
	top: 20px;
	right: 52px;
	color: #aaa;
	text-align: right;
	cursor: pointer;
	padding: 0;
}

	div.listItem span.status i.published{
		color: #7ec57e;
	}
	
	div.listItem span.status i.not-published{
		color: #A4110A;
	}
	
	div.listItem span.status.published i.not-published{
		display: none;
	}
	
	div.listItem span.status.not-published i.published{
		display: none;
	}
	