html{
    overflow: auto;
}

.content{
	text-align: center;
	padding: 50px 20px;
}

#create-confirmation{
	display: none;
}

body .content h1{
	font-family: "Roboto Condensed", sans-serif;
	font-size: 45px;
	padding-bottom: 25px;
    color: #777;
	text-transform: uppercase;
	font-weight: bold;
}

body .content p{
	font-family: "Roboto", sans-serif;
	font-size: 16px;
	text-align: center;
	margin-bottom: 35px;
	color: #aaa;
	
}

fieldset{
	max-width: 400px;
	text-align: center;
	border-bottom: none;
	margin: 0 auto;
	padding: 0;
}

	.content fieldset p{
		text-align: left;
	}

body .form-group{
	position: relative;
	margin: 0 0 20px 0;
}

body .divider{
	padding-bottom: 20px;
	border-bottom: 1px solid #f0f0f0;
}

	.actions{
		display: block;
		text-align: right;
	}

	body p.alternate{
		margin-top: 35px;
		text-transform: uppercase;
		font-size: 14px;
	}

.content fieldset label{
	width: 100%;
	text-align: left;
	font-size: 15px;
}

.actions{
	margin-top: 25px;	
    display: block;
    width: 100%;
}

	.actions button i{
		display: inline-block;
		margin-left: 5px;
		margin-right: -10px;
		margin-top: -2px;
		font-size: 13px;
		background-color: #fff;
		width: 20px;
		height: 20px;
		line-height: 20px;
		text-align: center;
		border-radius: 50%;	
		color: #3299bb;
	}

small{
	text-transform: uppercase;
	margin-top: 50px;
	padding-bottom: 50px;
    color: #aaa;
    display: block;
    text-align: center;
}

.demo b{
	display: inline-block;
	color: #fff;
}

.footer{
	margin: 100px auto;
	text-align: center;
}

body p.site-name{
	margin-top: 5px;
	font-size: 13px;
	color: #aaa;
	margin-bottom: 0;
	padding-bottom: 0;
	height: 25px;
	line-height: 25px;
	color: #aaa;
}

	body p.site-name span{
		font-weight: bold;
		display: inline-block;
		padding: 4px 15px;
		margin: 0 0 0 5px;
		background-color: #f0f0f0;
		color: #3299bb;
		border-radius: 15px;
	}
	
/* create styles */
.validating, .valid, .invalid{
	position: absolute;
	top: 37px;
	right: 10px;
	background-color: #3299bb;
	color: #fff;
	width: 25px;
	height: 25px;
	line-height: 25px;
	text-align: center;
	border-radius: 50%;
	margin-left: 5px;
	display: none;
}

	.valid{
		background-color: #7ec57e;
	}
	
	.invalid{
		background-color: #A4110A;
	}
	
	.validating.visible, .valid.visible, .invalid.visible{
		display: inline-block;
	}

/* test styles */
table.test{
    width: 500px;
    margin: 25px auto 50px auto;
    text-align: left;
}

    table.test tr{
        border-bottom: 1px solid #ddd;
    }
    
    table.test tr:last-child{
        border-bottom: none;
    }
    
    table.test td{
        padding: 15px;
    }

    table.test td.test{
        width: 80%;
        font-size: 15px;
        text-transform: uppercase;
    }

    table.test td.result{
        width: 20%;
        text-align: right;
    }

    table.test i{
        font-size: 30px;
    }


