body.login{} 

	body.login .main{
		text-align: center;
		padding: 50px 20px;
	}
	
	body.login .main h1{
		font-family: "Roboto Condensed", sans-serif;
		font-size: 45px;
	    color: #777;
		text-transform: uppercase;
		font-weight: bold;
		margin: 50px 0 0 0;
		padding: 0 0 50px 0;
		height: auto;
	}
	
	body.login .main h2.title{
		position: relative;
		border: 1px solid #f8f8f8;
		font-size: 15px;
		color: #fff;
		padding: 15px;
		color: #aaa;
		text-transform: uppercase;
		margin-bottom: 25px;
		text-align: left;
		margin-top: 25px;
		font-weight: normal;
	}
	
		body.login .main h2.title .step{
			display: inline-block;
			background-color: #81b841;
			width: 40px;
			height: 40px;
			line-height: 40px;
			text-align: center;
			color: #fff;
			margin-right: 25px;
			border-radius: 50%;
		}
		
		body.login .main h2.title a{
			position: absolute;
			top: 28px;
			right: 15px;
			font-weight: normal;
			font-size: 12px;
		}
		
	body.login .main .col-md-12{
		text-align: left;
	}
	
		body.login .main .col-md-12 .image-list{
			margin: 0;
		}
	
	body.login .main p{
		font-family: "Roboto", sans-serif;
		font-size: 16px;
		text-align: center;
		margin-bottom: 35px;
		color: #aaa;
		
	}
	
	body.login .advanced{
		display: none;
	}
	
	body.login .future h2{
		background-color: #f0f0f0;
	}
	
	body.login .future .container-fluid{
		display: block;
	}
	
		body.login .future h2.title .step{
			background-color: #aaa !important;
		}
	
	body.login fieldset{
		max-width: 900px;
		text-align: center;
		border-bottom: none;
		margin: 0 auto;
		padding: 0;
	}
	
	body.login fieldset.login, 
	body.login fieldset.forgot, 
	body.login fieldset.reset{
		max-width: 400px;
	}
	
		body.login .main fieldset p{
			text-align: left;
		}
		
		body.login .main fieldset label{
			color: #808080;
			font-size: 14px;
		}
	
	body.login .form-group{
		position: relative;
		margin: 0 0 25px 0;
	}
	
	body.login .divider{
		padding-bottom: 10px;
		margin-bottom: 30px;
		border-bottom: 1px solid #ddd;
	}
	
		body.login .spacer{
			padding-bottom: 40px;
		}
	
		body.login .actions{
			position: relative;
			display: block;
			text-align: right;
			margin: 0;
			padding: 0;
		}
	
		body.login p.alternate{
			margin-top: 35px;
			text-transform: uppercase;
			font-size: 14px;
		}
		
		body.login .forgot-link{
			float: right;
		}
	
	body.login .main fieldset label{
		width: 100%;
		text-align: left;
		font-size: 15px;
	}
	
	body.login .actions{
		margin-top: 25px;	
	    display: block;
	    width: 100%;
	}
	
		body.login .actions button i{
			display: inline-block;
			margin-left: 5px;
			margin-right: -10px;
			margin-top: -2px;
			font-size: 13px;
			background-color: #fff;
			width: 20px;
			height: 20px;
			line-height: 20px;
			text-align: center;
			border-radius: 50%;	
			color: #3299bb;
		}
	
	body.login small{
		text-transform: uppercase;
		margin-top: 50px;
		padding-bottom: 50px;
	    color: #aaa;
	    display: block;
	    text-align: center;
	}
	
	body.login .demo b{
		display: inline-block;
		color: #fff;
	}
	
	body.login .footer{
		margin: 100px auto;
		text-align: center;
	}
	
	body.login p.site-name{
		margin-top: 5px;
		font-size: 14px;
		color: #bbb;
		margin-bottom: 0;
		padding-bottom: 0;
		height: 25px;
		line-height: 25px;
		display: none;
	}
	
		body.login p.site-name span{
			font-weight: bold;
			display: inline-block;
			padding: 0;
			margin: 0 0 0 2px;
			color: #3299bb;
		}
	
	/* test styles */
	body.login table.test{
	    width: 500px;
	    margin: 25px auto 50px auto;
	    text-align: left;
	}
	
	    body.login table.test tr{
	        border-bottom: 1px solid #ddd;
	    }
	    
	    body.login table.test tr:last-child{
	        border-bottom: none;
	    }
	    
	    body.login table.test td{
	        padding: 15px;
	    }
	
	    body.login table.test td.test{
	        width: 80%;
	        font-size: 15px;
	        text-transform: uppercase;
	    }
	
	    body.login table.test td.result{
	        width: 20%;
	        text-align: right;
	    }
	
	    body.login table.test i{
	        font-size: 30px;
	    }
	
	/* brand */
	body.login .brand img{
		max-height: 50px;
	}

	body.login .terms{
		display: inline-block;
		margin-right: 10px;
	}

	body.login .terms i{
		color: #ccc;
		margin-right: 5px;
	}

