body.content #content{
	margin-top: 85px !important;
  	min-height: 500px;
}

body.content h1{
	margin-bottom: 35px;
}

body.content h2{
	margin-bottom: 25px;
}

body.content blockquote{
  	font-family: 'Roboto Condensed', sans-serif;
	font-size: 22px;
  	line-height: 35px;
	border: none;
  	background-color: #f8f8f8;
  	padding: 20px;
  	margin: 40px 0;
  	color: #666;
  	font-weight: normal;
}

body.content table, 
body.content p, 
body.content pre.prettyprint{
	margin-bottom: 25px !important;
}

body.content pre, 
body.content pre *{
	font-family: Courier, sans-serif;
  	font-size: 1.5rem;
}

body.content pre.prettyprint ol{
	margin-left: 0;
	padding-left: 35px;
}

body.content .blog-meta{
	margin: 0;
  	padding: 0;
}

body.content .blog-meta p{
	color: #aaa;
  	text-transform: uppercase;
  	font-size: 12px;
  	margin: 0;
  	padding: 0;
}

body.content .blog-meta a{
	margin-right: 5px;
}
