<div class="app-modal" [class.visible]="visible === true">

  <h2>{{ 'View Submission' | translate }}</h2>

  <table class="details">

    <tr>
      <td>{{ 'Date' | translate }}</td>
      <td>{{ model.date }}</td>
    </tr>
    <tr>
      <td>{{ 'Form' | translate }}</td>
      <td>{{ model.formId }}</td>
    </tr>
    <tr *ngFor="let field of model.fields">
      <td>{{ field.id  }}</td>
      <td>{{ field.value }}</td>
    </tr>

  </table>

  <div class="actions">
    <a (click)="hide()" class="primary">{{ 'Done' | translate }}</a>
  </div>

</div>