<menu class="app-menu">

    <button class="app-more" (click)="toggleDrawer()"><svg viewBox="0 0 24 24" width="24" height="24" preserveAspectRatio="xMidYMid meet"><g><path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"></path></g></svg></button>

    <h1>{{ 'Settings' | translate }}</h1>

</menu>

<section class="app-main">

  <form class="app-form" (ngSubmit)="submit()" #settingsForm="ngForm">

    <div *ngFor="let setting of settings">

      <div [ngSwitch]="setting.type">

        <div *ngSwitchCase="'text'">
          <label>{{setting.label | translate }}</label>
          <input type="text" id="{{setting.id}}" name="{{setting.id}}" [(ngModel)]="setting.value">
        </div>

        <div *ngSwitchCase="'color'">
          <label>{{setting.label | translate }}</label>
          <input type="color" id="{{setting.id}}" name="{{setting.id}}" [(ngModel)]="setting.value">
        </div>

        <div *ngSwitchCase="'image'">
          <label>{{setting.label | translate }} <a (click)="showSelect(setting)">{{ 'Select' | translate }}</a></label>
          <input type="text" id="{{setting.id}}" name="{{setting.id}}" [(ngModel)]="setting.value">
        </div>

        <div *ngSwitchCase="'select'">
          <label>{{setting.label | translate }}</label>
          <select id="{{setting.id}}" name="{{setting.id}}" [(ngModel)]="setting.value">
            <option *ngFor="let option of setting.options" [value]="option">{{option}}</option>
          </select>
        </div>

      </div>

      <small>{{setting.description | translate }}</small>

    </div>


    <div class="actions">
      <button type="submit">{{ 'Update' | translate }}</button>
    </div>

  </form>

</section>


<respond-select-file [visible]="selectVisible" (onCancel)="reset($event)"  (onSelect)="select($event)"></respond-select-file>
<respond-drawer active="settings" [visible]="drawerVisible" (onHide)="reset($event)"></respond-drawer>