<div class="logo"><img src="{{ logoUrl }}"></div>

 <div class="app-slideshow">

  <div class="app-slideshow-item" *ngFor="let theme of themes" [class.selected]="theme === selectedTheme">

    <div class="app-slideshow-container">
      <div class="screenshot">
        <img src="{{themesLocation}}{{theme.location.replace('/','')}}/screenshot.png">
      </div>
      <div class="description">
        <h2>{{ theme.name }}</h2>
        <p>{{ theme.desc }}</p>
        <p>
          <a class="primary" (click)="useTheme()">{{ 'Use this Theme' | translate }}</a>
          <a (click)="next()">{{ 'Next Theme' | translate }}</a>
        </p>
      </div>
    </div>

  </div>
  <!-- /.app-slideshow -->

</div>

<div class="app-theme-list">

  <h3>{{ 'All Themes' | translate }}</h3>

  <div>
    <span class="app-theme-image" *ngFor="let theme of themes; let i = index;" [class.selected]="theme === selectedTheme">
      <img src="{{themesLocation}}{{theme.location.replace('/','')}}/screenshot.png" (click)="select(i)">
    </span>
  </div>

  <p class="acknowledgement" [innerHTML]="acknowledgement"></p>

</div>
<!-- /.app-theme-list -->


<div class="app-modal" [class.visible]="visible === true">

  <form (ngSubmit)="submit()" #createForm="ngForm">

      <h2>{{ 'Create Site' | translate }}</h2>

      <label>{{ 'Site Name' | translate }}</label>
      <input type="text" name="name"
        [(ngModel)]="model.name"
        ngControl="name" required>


      <label>{{ 'Email' | translate }}</label>
      <input type="text" name="email"
        [(ngModel)]="model.email"
        ngControl="email" required>

      <label>{{ 'Password' | translate }}</label>
      <input type="password" name="password"
        [(ngModel)]="model.password"
        ngControl="password" required>

      <label *ngIf="hasPasscode === true">{{ 'Passcode' | translate }}</label>
      <input type="text" name="passcode" *ngIf="hasPasscode === true"
        [(ngModel)]="model.passcode"
        ngControl="passcode" required>

      <div *ngIf="recaptchaSiteKey !== ''" class="g-recaptcha" [attr.data-sitekey]="recaptchaSiteKey" data-callback="verifyCallback"></div>

      <div class="actions">
        <a (click)="hide()">{{ 'Cancel' | translate }}</a>
        <button type="submit">{{ 'Create' | translate }}</button>
      </div>

      <p>{{ 'By creating a site you are accepting our terms of service.' | translate }}</p>

  </form>

</div>
