<!doctype html>

<html lang="{{language}}">
<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>{{site}}</title>
<meta name="description" content="{{description}}">
<meta name="keywords" content="{{keywords}}">
<meta name="callout" content="{{callout}}">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<meta name="viewport" content="width=device-width, initial-scale=1.0">

{{css-bootstrap}}
{{css-fontawesome}}
{{css-prettify}}
{{css}}
{{rss}}
    
</head>

<body>

<header role="banner">

	<nav class="navbar navbar-default" role="navigation">
	  
	  <div class="navbar-header">
	    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
	      <span class="sr-only">Toggle navigation</span>
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	    </button>
	  </div>
	  <!-- /.navbar-header -->
	
	  
	  <div class="collapse navbar-collapse navbar-ex1-collapse">
	    <ul class="nav navbar-nav navbar-right">
			{{menu-primary}}
	    </ul>
	  </div>
	  <!-- /.navbar-collapse -->
	</nav>
  
  	<div class="logo">
		<a href="{{site-url}}"><img src="{{logo}}"></a>
  	</div>

</header>

<div id="content" class="container" role="main">
	{{content}}
</div>

<footer role="contentinfo">
  	<div class="well">
    	{{site}} powered by <a href="http://respondcms.com">Respond CMS</a>
  	</div>
</footer>
  
{{js}}
{{analytics}}

</body>

</html>