<!DOCTYPE html>

<html ng-app="respond.site" lang="{{site.Language}}">
  <head>
    
    <title>{{site.Name}} - {{page.Name}}</title>
	
    <!-- meta -->
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="{{page.Description}}">
	<meta name="keywords" content="{{page.Keywords}}">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
	
	<!-- set base for HTML5 mode -->
    <base href="/">
    
    <!-- icons -->
    <link rel="icon" 
          ng-if="site.IconUrl != ''" 
          href="{{site.IconUrl}}">
	<meta name="msapplication-TileColor" 
          ng-if="site.IconBg != ''"
          content="{{site.IconBg}}">
    <meta name="msapplication-TileImage" 
          ng-if="site.IconUrl != ''" 
          content="{{site.IconUrl}}">
    <link rel="apple-touch-icon"
          ng-if="site.IconUrl != ''"
          href="{{site.IconUrl}}">
    
	<!-- css -->
	<link type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
	<link type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.0.2/css/font-awesome.css" rel="stylesheet">
	<link type="text/css" ng-href="/css/global.css{{timeStamp}}" rel="stylesheet">
	<link type="text/css" ng-href="/css/calendar.css{{timeStamp}}" rel="stylesheet">
	<link type="text/css" ng-href="/css/cart.css{{timeStamp}}" rel="stylesheet">
	<link type="text/css" ng-href="/css/search.css{{timeStamp}}" rel="stylesheet">
	<link type="text/css" ng-href="{{page.FullStylesheetUrl}}" rel="stylesheet">

    <!-- angular / ui-router -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0/angular.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.11/angular-ui-router.min.js"></script>
    
    <!-- jquery -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    
    <!-- bootstrap -->
    <script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    
    <!-- Google maps API (for geocoding)  -->
    <script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
   
	<script src="//cdnjs.cloudflare.com/ajax/libs/i18next/1.6.3/i18next-1.6.3.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.5.1/moment-with-langs.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/1.7.3/less.min.js"></script>
   
    <!-- app js -->
    <script  src="js/respond.site.js"></script>
    <script src="js/respond.site.components.js"></script>
    <script src="js/respond.site.controllers.js"></script>
    <script src="js/respond.site.factories.js"></script>
    <script src="js/respond.site.directives.js"></script>
    <script src="js/jm.i18next.js"></script>
    
  </head>

  <!-- entry point for app -->
  <body ui-view></body>
    
</html>
