<div class="app-modal" [class.visible]="visible === true">

  <form (ngSubmit)="submit()" #addForm="ngForm">

    <h2>{{ 'Add Code' | translate }}</h2>

    <label>{{ 'Type' | translate }}</label>
    <select id="hashedit-add-code-type"
      [(ngModel)]="model.type"
      (change)="updateUrl($event.target.value)"
      name="type">
      <option value="template">{{ 'Template' | translate }}</option>
      <option value="stylesheet">CSS</option>
      <option value="script">JS</option>
      <option value="plugin">{{ 'Plugin' | translate }}</option>
    </select>

    <label>{{ 'Name' | translate }}</label>
    <input id="hashedit-add-code-name" type="text" maxlength="128" placeholder="new-file" required
      [(ngModel)]="model.name"
      name="url">

    <div class="or">{{ 'Or' | translate }}</div>

    <respond-dropzone [url]="uploadUrl" (onAdd)="uploaded($event)"></respond-dropzone>

    <div class="actions">
      <a (click)="hide()">{{ 'Cancel' | translate }}</a>
      <button type="submit">{{ 'Add Code' | translate }}</button>
    </div>

  </form>

</div>