<div class="app-modal" [class.visible]="visible === true">

  <form (ngSubmit)="submit()" #removeForm="ngForm">

    <h2>{{ 'Remove User' | translate }}</h2>

    <p>{{ 'Confirm you want to remove:' | translate }}:</p>

    <div class="to-be-removed">
      <h3>{{model.firstName}} {{model.lastName}}</h3>
      <small>{{model.email}}</small>
    </div>

    <div class="actions">
      <a (click)="hide()">{{ 'Cancel' | translate }}</a>
      <button type="submit">{{ 'Remove User' | translate }}</button>
    </div>

  </form>

</div>