# dependencies
/vendor
/node_modules
composer.lock
composer.phar

# local configuration
.env
remove_site
copy_core_themes
copy_pro_themes

# local development
/public/sites
/resources/sites
/public/dev
/public/dist

# respond-ui
/public/app
/public/themes/custom/

# pro
/app/Pro
/app/Pro/*
/app/Pro-wip
/app/Pro-wip/*
/dist/release.pro.zip

# theme development
/public/themes/respond-themes
/public/themes/respond-themes-premium
/design

# debugging
/public/info.php

# respond notes
roadmap.md
technology.md
todo.md

# log files
*.log
