<!DOCTYPE html>
<html ng-app="respond" dir="{{direction}}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title ng-bind="title"></title>
    
    <!-- set base for HTML5 mode #HTML5MODE
    <base href="/"> -->

	<!-- libs css (external) -->
	<link type="text/css" href="//fonts.googleapis.com/css?family=Roboto:700,300,100|Inconsolata" rel="stylesheet">
	<link type="text/css" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
	
	<!-- libs css (combined) -->
	<link type="text/css" href="css/respond.libs.min.css" rel="stylesheet">
	
	<!-- bootstrap rtl support -->
	<link type="text/css" 
		ng-if="direction == 'rtl'"
		href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-rtl/3.2.0-rc2/css/bootstrap-rtl.min.css" rel="stylesheet">
		
	<!-- app css -->
	<link type="text/css" href="css/respond.min.css" rel="stylesheet">
	
	<!-- brand css -->
	<link type="text/css" 
		ng-if="css != ''"
		ng-href="{{css}}" rel="stylesheet">
	
    <!-- libs js (combined) -->
    <script src="js/respond.libs.min.js"></script>
      
    <!-- Google maps API (for geocoding) -->
    <script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
    
    <!-- app js -->
    <script src="js/utilities.js"></script>
    <script src="api/setup.js.php"></script>
    <script src="js/respond.js"></script>
    <script src="js/messages.js"></script>
    <script src="js/respond.controllers.js"></script>
    <script src="js/respond.factories.js"></script>
    <script src="js/respond.directives.js"></script>
    <script src="js/respond.filters.js"></script>
    <script src="js/jm.i18next.js"></script>
    <script src="js/tour.js"></script>

	<!-- editor -->
	<script src="js/respond.editor.js"></script>
	<script src="plugins/text/respond.text.js"></script>
	
  </head>
  
  <body class="{{template}}">
	  <div ui-view></div>
  </body>
  
</html>
