<div class="app-modal" [class.visible]="visible === true">

  <form (ngSubmit)="submit()" #addForm="ngForm">

    <h2>{{ 'Add Form' | translate }}</h2>

    <div class="app-modal-body">

      <label>{{ 'Name' | translate }}</label>
      <input id="hashedit-add-form-name" type="text" maxlength="128" placeholder="" required
        [(ngModel)]="model.name"
        name="name">

      <label>{{ 'CSS Class' | translate }}</label>
      <input id="hashedit-add-form-cssclass" type="text" maxlength="128" placeholder=""
        [(ngModel)]="model.cssClass"
        name="cssClass">

      <label>{{ 'Validate with reCAPTCHA' | translate }}</label>
      <select id="hashedit-add-form-validate"
        [(ngModel)]="model.validate"
        name="required">
        <option value="true">{{ 'Yes' | translate }}</option>
        <option value="false">{{ 'No' | translate }}</option>
      </select>

      <label>{{ 'Success Message' | translate }}</label>
      <input id="hashedit-add-form-success" type="text" maxlength="128" placeholder=""
        [(ngModel)]="model.success"
        name="success">

      <label>{{ 'Error Message' | translate }}</label>
      <input id="hashedit-add-form-error" type="text" maxlength="128" placeholder=""
        [(ngModel)]="model.error"
        name="error">

      <label>{{ 'reCAPTCHA Error Message' | translate }}</label>
      <input id="hashedit-add-form-recaptcha-error" type="text" maxlength="128" placeholder=""
        [(ngModel)]="model.recaptchaError"
        name="recaptchaError">

      <label>{{ 'Email Notifications' | translate }}</label>
      <input id="hashedit-add-form-notify" type="text" maxlength="2048" placeholder=""
        [(ngModel)]="model.notify"
        name="recipient">
      <small>{{ 'Separate multiples with commas.  If an email is not specified, an email will be sent to the default site email.' | translate }}</small>

    </div>
    <!-- /.app-modal-body -->

    <div class="actions">
      <a (click)="hide()">{{ 'Cancel' | translate }}</a>
      <button type="submit">{{ 'Add Form' | translate }}</button>
    </div>

  </form>

</div>