body.content{
	background-color: #f0f0f0;
}

/* editor actions */
.editable-content:empty{
	background-color: #fff;
	height: 40px;
	line-height: 40px;
}

.respond-element{
	padding: 5px !important;
	cursor: pointer;
}

.current-node{
	background-color: rgba(200, 227, 237, .15) !important;
}

.current-node input[type=text]{
	background-color: rgba(200, 227, 237, .15) !important;
}

/* #editor-menu */
#editor-menu{
	background-color: #aaa;
	padding: 0;
}

	#editor-menu.sticky{
	    position: fixed;
	    top: 0;
	    left: 0;
	    z-index: 1000;
	    width: 100%;
	}
	
.editor-menu{
	overflow: hidden;
}
	
.editor-actions{
    padding: 0 10px;
    margin: 0;
    height: 50px;
    z-index: 900;
}

    .editor-actions div{
        width: 1804px;  /* 41 * 41 = 1681 */
        height: 50px;
        margin: 0;
        padding: 0;
    }
	
	.editor-actions a.primary-action{
	    position: absolute;
	    top: 0;
	    right: 50px;
	    width: 50px;
	    text-align: center;
	    margin: 0;
	    padding: 0;
	}
	
		.editor-actions a.primary-action.settings{
		    right: 0;
		}
		
	.editor-actions a, .draggable{
		box-sizing: border-box;
		display: inline-block;
		position: relative;
		width: 40px; 
		height: 40px;
		margin: 5px 1px 5px 0;
		padding: 0;
		text-align: center;
		line-height: 40px;
		color: #fff;
		vertical-align: top;
		background-color: transparent;
		border-radius: 50%;
		font-size: 13px;
		border: 1px solid transparent;
	}	
	
		.editor-actions a.active{
			border: 1px solid rgba(255,255,255,0.95);
		}
	
		body>.draggable{
			background-color: #3299BB;
			color: #fff;
			z-index: 100000;
		}
	
		.editor-actions a.draggable{
			cursor: move;
		}
	
	    .editor-actions a:hover{
	        background-color: rgba(255,255,255,.25);
	        text-decoration: none;
	    }
	    
	    .editor-actions small{
	        position: absolute;
	        width: 100%;
	        height: 12px;
	        line-height: 12px;
	        text-align: center;
	        bottom: 0;
	        right: 0;
	        color: #888;
	        font-size: 0.65em;
	        margin: 0;
	    }




/* editor */
.editor{
	text-align: left;
    position: relative;
}

	.editor .editor-highlight{
	    border: 1px solid #fbec5d !important;
	    background: #fbec5d !important;
	    min-height: 50px;
	    display: block;
	} 
	
	.editor{
	    position: relative;
	}
	
	.editor.container{
		margin: 0;
	    z-index: 100;
	    margin-left: 10px;
	    margin-top: 10px;
	    width: calc(100% - 270px);
	    border: 1px solid #ccc;
	    background-color: #fff;  
	    box-shadow: 2px 3px 4px rgba(119,119,119,0.4);
	    padding: 0;
	    z-index: 999;
	    min-height: 1000px;
	}
	
	.editor.container .row{
		margin-right: 0;
		margin-left: 0;
	}
	
	
	/* block */	
	.editor .block{
		position: relative;
		min-height: 50px;
		padding-bottom: 0;
		padding-top: 38px;
		border-bottom: 1px solid #ddd !important;
		display: flex;
	}
	
		/* flex width - .col-md-12 */
		.editor .block .flex-100{
			width: 100%;
		}
		
		/* flex width - .col-md-11 */
		.editor .block .flex-91{
			width: 91.666%;
		}
		
		/* flex width - .col-md-10 */
		.editor .block .flex-83{
			width: 83.333%;
		}
		
		/* flex width - .col-md-9 */
		.editor .block .flex-75{
			width: 75%;
		}
		
		/* flex width - .col-md-8 */
		.editor .block .flex-66{
			width: 66.666%;
		}
		
		/* flex width - .col-md-7 */
		.editor .block .flex-58{
			width: 58.333%;
		}
		
		/* flex width - .col-md-6 */
		.editor .block .flex-50{
			width: 50%;
		}
		
		/* flex width - .col-md-5 */
		.editor .block .flex-41{
			width: 41.666%;
		}
		
		/* flex width - .col-md-4 */
		.editor .block .flex-33{
			width: 33.33333%;
		}
		
		/* flex width - .col-md-3 */
		.editor .block .flex-25{
			width: 25%;
		}
		
		/* flex width - .col-md-2 */
		.editor .block .flex-16{
			width: 16.666%;
		}
		
		/* flex width - .col-md-1 */
		.editor .block .flex-8{
			width: 8.333%;
		}
	
		.editor .block div.respond-p[data-cssclass~=text-center] div, 
		.editor .block div.respond-h1[data-cssclass~=text-center] div, 
		.editor .block div.respond-h2[data-cssclass~=text-center] div, 
		.editor .block div.respond-h3[data-cssclass~=text-center] div{
			text-align: center;	
		}
		
		.editor .block div.respond-p[data-cssclass~=text-left] div, 
		.editor .block div.respond-h1[data-cssclass~=text-left] div, 
		.editor .block div.respond-h2[data-cssclass~=text-left] div, 
		.editor .block div.respond-h3[data-cssclass~=text-left] div{
			text-align: left;	
		}
		
		.editor .block div.respond-p[data-cssclass~=text-right] div, 
		.editor .block div.respond-h1[data-cssclass~=text-right] div, 
		.editor .block div.respond-h2[data-cssclass~=text-right] div, 
		.editor .block div.respond-h3[data-cssclass~=text-right] div{
			text-align: right;	
		}
	
	.editor .block:last-child{
	  	border-bottom: none;
	}
	
	/* draws the line b/w columns */
	.editor .block .col{
		position: relative;
		padding: 0;
		margin-bottom: 0;
		vertical-align: top;
		min-height: 40px;
		border-left: 1px solid #ddd;
	}
	
		.editor .block .col:first-child{
			border-left: 0;
		}
	
		.editor .block .col:empty{
			background-color: #fff !important;
			height: 40px;
			line-height: 40px;
		}
	
		.editor .block .col:first-child{
			margin-left: 0;
			border-left: 0;	
		}
		
		.editor .block .col-md-12{
			border: 0;
			margin: 0;
		}
		
		.editor .block .col-md-4:nth-child(3){
			margin-right: 0;
			border-right: 0;
		}
		
		.editor .block .col-md-6:nth-child(2){
			margin-right: 0;
			border-right: 0;
		}
		
		.editor .block .col-md-3:last-child{
			margin-right: 0;
			border-right: 0;
		}
		
		.editor .block .col-md-9:nth-child(2){
			margin-right: 0;
			border-right: 0;
		}
		
		.editor .block .col-md-3:nth-child(4){
			margin-right: 0;
			border-right: 0;
		}
		
	.editor .block div.col:empty{
		background: #fff;
	}
	
	.editor .block div.col>div{
		position: relative;
		margin: 0 !important;
		padding: 0;
		border: 0;
		font-size: 13px;
		line-height: 18px;
		background: #fff;
		overflow: hidden;
		border-bottom: 1px solid #ddd;
	}
	
	.editor .block div.col>div:last-child{
		border-bottom: none;
	}
	
	.editor .block div.col div div{
		margin: 0; padding: 0;
	}
	
	.editor .block div.col div + div{
	  	/*margin-top: 10px;*/
	}
	
	.editor .block div.col>div div[contentEditable=true]{
		margin: 0;
		padding: 20px;
		min-height: 25px;
	}
	
	.editor .block div.col div div[contentEditable=true]:focus{
	 	outline: none !important;
	}
	
	.editor .block div.respond-h1 div{
		font-size: 30px;
		font-weight: bold;
	}
	
	.editor .block div.respond-h2 div{
		font-size: 25px;
		font-weight: bold;
	}
	
	.editor .block div.respond-h3 div{
		font-size: 20px;
		font-weight: bold;
	}
	
	.editor .block div.respond-h4 div{
		font-size: 18px;
		font-weight: bold;
	}
	
	.editor .block div.respond-h5 div{
		font-size: 16px;
		font-weight: bold;
	}
	
	.editor .block div.respond-p div, 
	.editor .block div[contentEditable=true]{
		font-size: 15px;
		line-height: 25px;
	}

		.editor .block div.respond-ul div[contentEditable=true]{
			background: url('../images/bullet.png') no-repeat 5px 5px;
			padding-left: 25px !important;
		}
		
		.editor .block div.respond-ol{
			counter-reset: section;
		}
		 
		.editor .block div.respond-ol div[contentEditable=true]:before{
			counter-increment: section;
			content: counter(section) '. ';
			color: #ddd;
			margin-right: 2px;
		}
		
	/* element menu */
	.editor .move{
		position: absolute;
		width: 30px;
		height: 30px;
		line-height: 30px !important;
		font-size: 15px;
		text-align: center;
		top: 0;
		right: 0;
		color: #fff;
		cursor: pointer;
		text-decoration: none;
		z-index: 101;
		background-color: rgba(221, 221, 221, 0.5);
		display: none;
	}
	
		.editor .block div.col>div:hover .move{
			display: block;
		}
	
		.editor .move:hover{
			background-color: #3299bb;
			color: #fff;
			cursor: move;
		}
	
	.editor .expand-menu{
		position: absolute;
		width: 40px;
		height: 40px;
		line-height: 40px !important;
		font-size: 20px;
		text-align: center;
		top: 0;
		right: 0;
		color: #ccc;
		cursor: pointer;
		text-decoration: none;
		z-index: 101;
	}
	
		.editor .block .col div:hover .expand-menu{
			display: block;
		}
		
		.editor .expand-menu.active, 
		.editor .expand-menu:hover, 
		.editor .block .col div .expand-menu.active, 
		.editor .block .col div .expand-menu:hover{
			display: block;
			opacity: 1;
			background-color: #3299BB;
			color: #fff;
		}
	
	.editor .element-menu{
		background-color: #f8f8f8;
		text-align: right;
		position: absolute;
		top: 0;
		right: 0;
		margin: 0;
		padding: 0 40px 0 0 !important;
		z-index: 10;
		margin-right:-300px !important;
	    -webkit-transition: .2s all ease;
		-moz-transition: .2s all ease;
		-o-transition: .2s all ease;    
		-ms-transition: .2s all ease;
		transition: .2s all ease;
		z-index: 99;
	}
	
		.editor .element-menu.active{
			margin-right: 0 !important;
		}
	
		.editor .element-menu a{
			position: relative;
			display: inline-block;
			width: 40px;
			height: 40px;
			text-align: center;
			line-height: 40px;
			color: #888;
			cursor: pointer;
			font-size: 14px;
			text-decoration: none;
		}
		
			.editor .element-menu a:hover{
				color: #3299BB;
				background-color: #f8f8f8;
			}
			
			.editor .element-menu a.remove:hover, .editor .element-menu a.remove-block:hover{
				color: #B11623;
			}
		
	/* form-group */
	.editor .field-container{
		overflow: hidden;
	}
	
	.editor .field-container .element-menu{
		z-index: 97;
		top: -1px;
		right: -1px;
	}
	
	/* .respond-form */
	.respond-form{
		padding: 0 0 15px 0 !important;
	}
	
	.respond-form .mock-field{
		height: 40px;
		line-height: 40px;
		border: 1px solid #ddd;
		background-color: #fff;
	}
	
		.respond-form .mock-field:hover{
			cursor: move;
		}
	
		.respond-form label{
			padding: 0 0 5px 0;
			margin: 0;
		}
	
		.respond-form .mock-field .field-type{
			display: inline-block;
			width: 100px;
			background-color: #ddd;
			color: #888;
			padding: 0 10px;
			margin: 0;
			float: left;
			height: 39px;
			text-align: center;
			text-transform: uppercase;
			font-size: 11px;
		}
		
		.respond-form .mock-field .placeholder{
			display: inline-block;
			margin-left: 10px;
			color: #aaa;
		}
		
		.respond-form .helper-text{
			display: block;
			margin-top: 5px;
			color: #888;
			font-weight: normal;
		}
	
	/* textareas and textboxes */
	.editor .block .respond-file input, 
	.editor .block .respond-map input{
		display: block;
		width: 100%;
		padding: 28px 10px 28px 70px;
		margin: 0;
		outline: none !important;
		color: #555;
		font-size: 14px;
	}
	
	
	/* facebook, featured, etc */
	.editor .block .title{
		color: #555;
		padding: 5px 0 15px 0 !important;
		margin: 0 !important;
		font-size: 14px;
	}
		
		.editor .block .title i{
			font-size: 15px;
			width: 40px;
			height: 40px;
			line-height: 40px;
			text-align: center;
			margin-right: 20px;
			margin-left: 20px;
			border-radius: 50%;
			margin-top: 10px;
		}
		
		.editor .block .title i{
			color: #fff;
			background-color: #4F8B9D;
		}
	
		.editor .block .respond-like .title i, 
		.editor .block .respond-comments .title i{
			color: #fff;
			background-color: #3B5998;
		}
		
		.editor .block .respond-content .title i{
			color: #fff;
			background-color: #fbec5d;
		}
		
		.editor .block .respond-login .title i,
		.editor .block .respond-registration .title i{
			color: #fff;
			background-color: #d37466;
		}
		
		.editor .block .respond-list .title i{
			color: #fff;
			background-color: #AA65A9;
		}
		
		.editor .block .respond-menu .title i{
			color: #fff;
			background-color: #BE705E;
		}
		
		.editor .block .respond-html .title i{
			color: #fff;
			background-color: #AA571B;
		}

		.editor .block .respond-video .title i{
			color: #fff;
			background-color: #00A1CB;
		}
		
		.editor .block .respond-shelf .title i{
			color: #fff;
			background-color: #47BE44;
		}
		
		.editor .block .respond-form .title i{
			color: #fff;
			background-color: #985D67;
		}
		
		.editor .block .respond-pre .title i{
			color: #fff;
			background-color: #985D67;
		}

	/* respond-html */
	.editor .block .respond-html div,
	.editor .block .respond-video div,
	.editor .block .respond-pre div{
		cursor: pointer;
	}
	
	.editor .block .respond-html textarea,
	.editor .block .respond-video textarea,
	.editor .block .respond-pre textarea{
		border: 1px solid #ccc !important;
		margin-bottom: 20px;
		display: none;
		width: 100%;
		height: 100px;
	}
	
		.editor .block .respond-html.active textarea,
		.editor .block .respond-video.active textarea,
		.editor .block .respond-pre.active textarea{
			display: block;
		}
	
	.editor .block .respond-html i.fa-angle-down,
	.editor .block .respond-video i.fa-angle-down,
	.editor .block .respond-pre i.fa-angle-down{
		background-color: transparent;
		color: #ccc;
		margin-left: 5px;
	}
	
		.editor .block .respond-html.active i.fa-angle-down,
		.editor .block .respond-video.active i.fa-angle-down,
		.editor .block .respond-pre.active i.fa-angle-down{
			-webkit-transform: rotate(-180deg);
			transform: rotate(-180deg);
		}
	
		
	/* respond-file and respond-map  */
	.editor .block .respond-file i, 
	.editor .block .respond-map i, 
	.editor .block .respond-q i{
		position: absolute;
		top: 20px;
		left: 20px;
		background-color: #94D237;
		color: #fff;
		width: 40px;
		height: 40px;
		line-height: 40px;
		font-size: 15px;
		border-radius: 50%;
		text-align: center;
	}
	
		.editor .block .respond-q i{
			background-color: #EBF966;
			color: #fff;
		}
	
		.editor .block .respond-map i{
			background-color: #D25F37;
			color: #fff;
		}
	
	/* respond-syntax */
	.editor .block .respond-syntax{
		padding: 10px !important;
	}
	
		.editor .block .respond-syntax pre{
			border-radius: 0;
		}
		
	/* quote */
	.editor .block .respond-q div[contentEditable=true]{
		padding-left: 70px !important;
		padding-top: 15px !important;
		min-height: 55px !important;
	}
		
	/* handle image */
	.editor .block div.image{
		box-sizing: border-box;
	}
	
	
	.editor .block div.respond-image div[contentEditable=true], 
	.editor .block div.respond-image img{
		display: inline-block !important;
		box-sizing: border-box !important;
		margin-bottom: 15px !important;
		
	}
	
	.editor .block div.respond-image div[contentEditable=true]{
		vertical-align: top;
		margin: 0;
		padding: 0;
		width: calc(50% - 20px) !important;
	}
	
	.editor .block div.respond-image img{
	  	cursor: pointer;
	  	display: inline-block;
		width: calc(100% - 40px);
		box-sizing: border-box;
		max-width: 100%;
		margin: 20px;
		margin-right: 10px !important;
	}
	
	.editor .block div[data-display="left"] img, 
	.editor .block div[data-display="right"] img{
		width: 50%;
		margin: 0;
		padding: 0;
	}
	
	.editor .block div[data-display="left"] img{
		margin-left: 5px;
	}
	
	.editor .block div[data-display="right"] img{
		margin-right: 5px;
	}
	
	
	.editor .block div.col>div.respond-image div[contentEditable=true]{
		margin-right: 0 !important;
	}
	
	/* begin block actions */
	.editor .block-actions{
		position: absolute;
		box-sizing: border-box;
		top: 0;
		left: 0;
		height: 40px;
		width: 100%;
		line-height: 40px;
		display: inline-block;
		margin-top: -1px;
		text-align: right;
		color: #fff;
		overflow: hidden;
		border-bottom: 1px solid #ddd;
		border-top: 1px solid #ddd;
		cursor: pointer;
		background-color: #f8f8f8;
	}
	
	.editor span.block-actions span{
		position: absolute;
		left: 20px;
		display: inline-block;
		padding-left: 5px;
		text-transform: uppercase;
		font-size: 13px;
		color: #aaa;
	}
	
	.editor .block-actions .block-callout{
		position: absolute;
		top: 5px;
		right: 40px;
		display: block;
		width: 28px;
		height: 28px;
		border: 1px solid #ddd;
		border-radius: 50%;
		padding-left: 5px;
	}
	
	/* begin block actions */
	.editor .block a.up.disabled, 
	.editor .block a.up.disabled:hover{
		display: none !important;
	}
	
	.editor .block a.down.disabled, 
	.editor .block a.down.disabled:hover{
		display: none !important;
	}
	
	/* .prettyprint */
	.editor .block pre.prettyprint{
		border-radius: 0 !important;
		margin: 0 10px;
	}
		
	.editor .block pre.prettyprint ol{
		margin-left: 0;
		padding-left: 35px;
	}
	
	.editor pre.non-pretty{
		display: none;
	}
	
	/* begin markers */
	.editor .block div .marker, 
	.editor .block div .marker-field, 
	.editor .block div .marker-item{
		position: absolute;
		top: 0;
		left: -25px;
		padding: 0;
		color: #888;
		font-size: 10px;
		width: 25px;
		height: 25px;
		line-height: 25px;
		text-align: center;
		cursor: move;
		background: #3299BB;
		color: #fff;
	}
	
	.editor div.date div{
		vertical-align: middle;
	}
	
	.editor .block div .marker:hover, 
	.editor .block div .marker-field:hover, 
	.editor .block div .marker-item:hover{
	    background-color: #ccc;
	}
	
	/* shelf */
	.editor .block .shelf .shelf-group1, 
	.editor .block .shelf .shelf-group2{
		display: inline-block;
		width: 50%;
	}
	
	
	.editor .block .shelf .shelf-group3{
		display: none;
	}
	
	.editor .block .shelf .skus{
		padding-top: 7px;
	}
	
	
	/* respond-shelf */
	.editor .block .respond-shelf span.editor-highlight{
		display: inline-block;
		width: 100%;
		height: 30px;
		margin: 0 40px 0 10px;
		padding: 20px;
		margin: 0 0 5px 0;
		border: 1px solid #f0f0f0;
		border: 1px solid #fbec5d !important;
		background: #fbec5d !important;
		vertical-align: top;
	} 
	
	.editor .shelf-item{
		position: relative;
		margin: 0 10px 0 10px;
		padding: 0 10px;
		cursor: pointer;
		border: 1px solid #fff;
		cursor: move;
	}
	
		.editor .shelf-item i{
			position: absolute;
			top: 5px;
			left: 5px;
			display: inline-block;
			line-height: 25px;
			text-align: center;
			width: 25px;
			height: 25px;
			background-color: #94D237;
			color: #fff;
		}
	
		.editor .shelf-item h4{
			margin: 0;
			padding: 0 0 5px 35px;
		}
		
		.editor .shelf-item small{
			display: block;
			margin: 0;
			padding: 0 0 5px 35px;
			color: #888;
		}
		
	/* .respond-slideshow */
	.editor .block .respond-slideshow, .editor .block .respond-gallery{
		padding: 20px !important;	
	}
	
	.editor .block .respond-slideshow div.images, .editor .block .respond-gallery div.images{
		min-height: 115px;
		margin: 0 10px 0 0;
	}
	
	.editor .block .respond-slideshow div.images, .editor .block .respond-gallery div.images{
		vertical-align: top;
	}
	
	.editor .block .respond-slideshow button, .editor .block .respond-gallery button{
		vertical-align: top;
		width: 202px;
		height: 202px;
		background: #fff;
		border: 1px solid #ddd;
		cursor: pointer;
		margin-right: 5px;
		margin-bottom: 5px;
		border-radius: 0;
		box-shadow: none;
		outline: none;
	}
	
		.editor .block .respond-slideshow button i{
			color: #aaa;
		}
	
	.editor .block .respond-slideshow button:hover, .editor .block .respond-gallery button:hover{
		border: 1px solid #3299BB;
	}
	
		.block .respond-slideshow button:hover i, .block .respond-gallery button:hover i{
			color: #3299BB;
		}
	
	.editor .block .respond-slideshow span.image, .editor .block .respond-slideshow span.image{
		display: inline-block;
		margin: 0 5px 5px 5px;
		margin: 0 5px 0 0;
		background: #f8f8f8;
		position: relative;
		vertical-align: top;
		cursor: move;
	}
	
	.editor .block .respond-slideshow span.image.edit, .editor .block .respond-gallery span.image.edit{
		z-index: 50;
	}
	
	.editor .block .respond-slideshow span.image img, .editor .block .respond-gallery span.image img{
		border: 1px solid #ddd;
		width: 200px;
		height: 200px;
	}
	
	.editor .block .respond-slideshow span.image img.current-element, .editor .block .respond-gallery span.image img.current-element{
		border: 1px solid #3299bb;
	}
	
	.editor .block .respond-slideshow span.image span.caption, .editor .block .respond-gallery span.image span.caption{
		display: block;
		margin: 0;
		padding: 0;
		position: absolute;
		bottom: 5px;
		left: 5px;
	}
		
	/* handle hr */
	.editor .block div.respond-hr .line{
		border: 0;
		margin: 0 20px 20px 20px !important;
		padding: 0 0 25px 0 !important;
		border-bottom: 2px solid #ccc;
	}
	
	/* handle list */
	.editor .block div div input[type=text]{
		border: none;
	}
	
	.editor .block div.respond-map div input, 
	.editor .block div.respond-file div input{
		width: 100%;
	}
	
	.editor .block div.respond-file div em{
		display: none;
	}
	
	.editor .block div.respond-file div .form-control{
		display: block;
		width: 100%;
	}
	
	/* cart */
	.editor .block div.respond-cart input{
		margin-left: 5px;
		margin-top: 0;
	}
	
	/* fields */
	.editor .block .respond-form span.editor-highlight{
		display: inline-block;
		width: 100%;
		height: 30px;
		margin: 0 40px 0 10px;
		padding: 20px;
		margin: 0 0 5px 0;
		border: 1px solid #f0f0f0;
		border: 1px solid #fbec5d !important;
		background: #fbec5d !important;
		vertical-align: top;
	} 
	
	.editor .block .field-container{
		position: relative;
		display: block;
		margin: 0 40px 0 10px;
		padding: 5px 10px 10px 10px;
		cursor: pointer;
		border: 1px solid #fff;
	}
	
		.editor .block .field-container input, 
		.editor .block .field-container textarea, 
		.editor .block .field-container select{
			width: calc(100% - 25px);
		}
	
	    .editor .block .field-container .radio, 
	    .editor .block .field-container .checkbox{
	        margin-left: 20px;
	    }
	    
	    .editor .block .field-container .list{
	        margin-bottom: 0;
	    }
	    
	    .editor .block .field-container:last-child{
	        margin-bottom: 15px;
	    }
	    
	    .editor .add-field, 
	    .editor .add-sku{
	    	display: block;
	    	width: 100%;
	    	width: calc(100% - 10px);
	        margin: 10px 5px 5px 5px;
	        padding: 10px 0;
	        background: #fff;
	        color: #888;
	        border: 1px solid #f0f0f0;
	        box-sizing: border-box;
	        text-align: center;
	        outline: none;
	    }
	    
	    	.editor .block .add-field i, 
	    	.editor .add-sku i,  
	    	.editor .add-event i{
		    	margin-right: 5px;
		    	font-size: 18px;
	    	}
	    
	    	.editor .block .add-field:hover, 
	    	.editor .add-sku:hover, 
	    	.editor .add-event:hover{
		    	color: #3299BB;
		    	text-decoration: none;
	    	}
	
	.editor .block span.field{
		margin: 0;
		padding: 0;
	}
	
	.editor .block span.list{
		display: block;
		width: auto;
	}
	
	.editor .block span.list label{
		display: block;
		text-align: left;
		margin: 1px 0 4px 0;
		padding: 0;
		width: auto;
	}
	
	.editor .block span.list label label{
		display: inline;
	}
	
	.editor .block span.list label input[type=radio], .block span.list label input[type=checkbox]{
		display: inline-block;
		width: auto;
		margin-right: 5px;
	}
	
	/* tabs */
	.editor .nav-tabs>li{
		padding: 0 !important;
	}
	
	.editor .nav-tabs>li>a{
		outline: none;
		cursor: text;
	}
	
	.editor .nav>li>a:focus{
		outline: none;
	}
	
	.editor .nav-tabs{
		margin: 0 0 10px 0;
	}
	
	/* table */
	.editor .block div.respond-table{
		padding: 8px 0 20px 0 !important;
		width: auto !important;
	}
	
		.editor .block div.respond-table th, .block div.respond-table td{
			outline: none;
			font-size: 1.1em;
		}
	
	
	.editor div.respond-table table{
		min-width: 50%;
		margin-bottom: 2px !important;
		margin-top: 0 !important;
		margin-left: 0;
		margin-right: 0;
		width: 100%;
	}
	
	.editor div.respond-table table.col-2 td{
		width: 50%;
	}
	
	.editor div.respond-table table.col-3 td{
		width: 33%;
	}
	
	.editor div.respond-table table.col-4 td{
		width: 25%;
	}
	
	.editor div.respond-table table.col-5 td{
		width: 20%;
	}
	
	.editor div.respond-table table.col-6 td{
		width: 16%;
	}
	
	.editor div.respond-table table.col-7 td{
		width: 14%;
	}
	
	.editor div.respond-table table.col-8 td{
		width: 12.5%;
	}
	
	.editor div.respond-table table.col-9 td{
		width: 11%;
	}
	
	.editor div.respond-table table.col-10 td{
		width: 10%;
	}
	
	.editor div.respond-table table td{
		margin: 0;
		padding: 5px 8px !important;
	}
	
	.editor div.respond-table table td div{
		margin: 0;
	}
	
	.editor div.respond-table tr.curr-row td{
		background-color: rgba(200, 227, 237, .15) !important;
	}
	
/* layouts */
.content .layouts{
	margin-left: 10px;
}

	.content .layouts h4{
		padding-left: 0;
	}

	.content .layouts button{
		position: relative;
		display: inline-block;
		margin: 0 10px 10px 0;
		padding: 5px 5px 25px 5px;
		border: 0;
		background-color: #fff;
	}
	
		.content .layouts button img{
			width: 200px;
			height: 200px;
			margin: 0;
			padding: 0;
		}
	
		.content .layouts button small{
			position: absolute;
			left: 0;
			bottom: 5px;
			width: 210px;
			text-align: center;
			color: #888;
		}
		
	
	.content .wrap{
		color: #fff;
		right: 20px;
		background-color: #99B2B7;
		display: inline-block;
		padding: 5px 10px;
		border-radius: 10px;
		font-size: 12px;
	}
	
		.content .wrap code{
			background-color: #E9E9E9;
			color: #99B2B7;
		}


/* Landscape phone to portrait tablet */
@media (max-width: 767px) { 
	
	aside#context-menu{
		display: none;
	}
	
	.editor .block{
		padding-bottom: 5px;
	}
	
	.editor .block div.col{
		margin-bottom: 10px !important;
	}
	
	.editor.container{
		width: calc(100% - 20px);
		margin-right: 10px;
	}
  
}