<div class="app-modal" [class.visible]="visible === true">

  <form (ngSubmit)="submit()" #editForm="ngForm">

    <h2>{{ 'Page Settings' | translate }}</h2>

    <div class="app-modal-body">

      <label>{{ 'Title' | translate }}</label>
      <input id="hashedit-page-settings-title" type="text" maxlength="128" required
        [(ngModel)]="model.title"
        name="title">

      <label>{{ 'Description' | translate }}</label>
      <input id="hashedit-page-settings-description" type="text" maxlength="128"
        [(ngModel)]="model.description"
        name="description">

      <label>{{ 'Keywords' | translate }}</label>
      <input id="hashedit-page-settings-keywords" type="text" maxlength="128"
        [(ngModel)]="model.keywords"
        name="keywords">

      <label>{{ 'Tags' | translate }}</label>
      <input id="hashedit-page-settings-tags" type="text" maxlength="128"
        [(ngModel)]="model.tags"
        name="tags">

      <label>{{ 'Callout' | translate }}</label>
      <input id="hashedit-page-settings-callout" type="text" maxlength="128"
        [(ngModel)]="model.callout"
        name="callout">

      <label>{{ 'Language' | translate }}</label>
      <select id="hashedit-page-settings-language"
        [(ngModel)]="model.language"
        name="language">
        <option value="en">English (en)</option>
        <option value="es">Español (es)</option>
        <option value="fr">Français (fr)</option>
        <option value="gr">Ελληνικά (gr)</option>
        <option value="ru">Русский (ru)</option>
      </select>

      <label>{{ 'Direction' | translate }}</label>
      <select id="hashedit-page-settings-direction"
        [(ngModel)]="model.direction"
        name="direction">
        <option value="ltr">{{ 'Left-to-Right' | translate }}</option>
        <option value="rtl">{{ 'Right-to-Left' | translate }}</option>
      </select>

      <label>{{ 'Template' | translate }}</label>
      <select id="hashedit-add-page-template"
        [(ngModel)]="model.template"
        name="template">
        <option *ngFor="let template of templates" [value]="template">{{template}}</option>
      </select>

    </div>
    <!-- /.app-modal-body -->

    <div class="actions">
      <a (click)="hide()">{{ 'Cancel' | translate }}</a>
      <button type="submit">{{ 'Update' | translate }}</button>
    </div>

  </form>

</div>