<div class="logo"><img src="{{ logoUrl }}"></div>

<form class="app-form standalone" (submit)="login($event, email.value, password.value)">

    <label *ngIf="usesLDAP === false">{{ 'Email' | translate }}</label>
    <label *ngIf="usesLDAP === true">{{ 'Username' | translate }}</label>
    <input type="text" name="email" #email>

    <label>{{ 'Password' | translate }}</label>
    <input type="password" name="password" #password>

    <button type="submit">{{ 'Login' | translate }}</button>

    <a (click)="forgot()">{{ 'Forgot Password?' | translate }}</a>

</form>

<p class="acknowledgement" [innerHTML]="acknowledgement"></p>