<respond-languages></respond-languages>
<respond-cart></respond-cart>
<respond-search></respond-search>

<header role="banner">

	<nav class="navbar" role="navigation">
      
    	<div class="nav-toggles">
	       	<respond-search-toggle></respond-search-toggle>
			<respond-cart-toggle></respond-cart-toggle>
			<respond-languages-toggle></respond-languages-toggle>
      	</div>
      	<!-- ./nav-toggles -->
	  
	  	<div class="navbar-header">
		    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
		      <span class="sr-only">Toggle navigation</span>
		      <i class="fa fa-bars"></i>	    
		    </button>
        
			<a class="navbar-brand hidden-xs" href="index"><img ng-src="{{fullLogoUrl}}"></a>
			<a class="navbar-brand visible-xs-inline-block" href="index"><img ng-src="{{fullAltLogoUrl}}"></a>
	  	</div>
	  	<!-- /.navbar-header -->
	
		  <div class="collapse navbar-collapse navbar-ex1-collapse"> 
			<respond-menu type="primary" class="nav navbar-nav" render="publish"></respond-menu>
		  </div>
		  <!-- /.navbar-collapse -->
      
	</nav>

</header>
  
<div id="content" class="container" role="main">
  <respond-content id="main-content" url="{{page.Url}}"></respond-content>
</div>

<footer class="container" role="contentinfo">
	<respond-content url="component/footer" render="publish"></respond-content>
</footer>