<respond-settings  ng-if="site.ShowSettings"></respond-settings>
<respond-cart ng-if="site.ShowCart"></respond-cart>
<respond-search></respond-search> 

<div class="toggle-nav">
  <i class="fa fa-ellipsis-v"></i>
</div>
<!-- /.toggle-nav -->

<nav class="side-nav" role="navigation">
   
  <ul>
    <respond-menu type="primary"></respond-menu>
  </ul>
  
  <ul class="social">
    <li><a href="#twitter-url"><i class="fa fa-twitter"></i></a></li>
    <li><a href="#facebook-url"><i class="fa fa-facebook"></i></a></li>
    <li><a href="#email-url"><i class="fa fa-envelope"></i></a></li>
  </ul>
    
</nav>
<!-- /.side-nav -->

<header role="banner">

       <a 
           ng-if="site.ShowSettings"
           ng-click="toggleSettings()"
           class="settings-toggle"><i class="fa fa-cog"></i></a>
        
        <a 
           ng-if="site.ShowCart"
           ng-click="toggleCart()"
           ng-class="{'active':cart.length>0}"
           class="cart-toggle"><i class="fa fa-shopping-cart"></i></a>
        
        <a 
           ng-click="toggleSearch()"
           class="search-toggle"><i class="fa fa-search"></i></a>
	         
		<a class="navbar-brand" href="index"><img ng-src="{{fullLogoUrl}}"></a>
      
</header>
  
<div id="content" class="container" role="main">
  <respond-content id="main-content" url="{{page.Url}}"></respond-content>
</div>

<footer role="contentinfo">
  
  <div class="container">

		<div class="row">
		
          <div class="col-md-6">
            
            <h4>Contact</h4>
            
            <p>
              Call us at (555) 555-5555 or reach out via the website: <a ui-sref="page/contact">Contact</a>
            </p>
            
            <p class="social">
              <a href="#"><i class="fa fa-facebook"></i></a>
              <a href="#"><i class="fa fa-twitter"></i></a>
              <a href="#"><i class="fa fa-google-plus"></i></a>
              <a href="#"><i class="fa fa-envelope-o"></i></a>
            </p>
            
          </div>
          <!-- /.col-md-4 -->
          
          <div class="col-md-6">
            
            <h4>About</h4>
            
            <p>
              {{site.Name}} powered by <a href="http://www.respondcms.com">Respond</a>. Respond is an open source, responsive content management system (CMS) built on AngularJS that you can use to build responsive sites.  The latest version features Bootstrap 3.0, robust themes, a complete REST API, and a beautiful UI.
            </p>
            
          </div>
			<!-- /.col-md-4 -->
			
		</div>
		<!-- /.row -->
    
    	<div class="row">
        
          <div class="col-md-12 menu">
              
              <ul>
                <li>Menu:</li>
				<respond-menu type="footer"></respond-menu>
              </ul>
              
          </div>
          <!-- /.col-md-12 -->
          
    	</div>
		
  	</div>
  	<!-- /.container -->
  
</footer>