<div class="respond-cart">

	<div class="respond-cart-header">
		<span class="item">
			{{'Item' | i18next}}
		</span><span class="quantity">
			{{'Quantity' | i18next}}
		</span><span class="price">
			{{'Price' | i18next}}
		</span><span class="total">{{'Total' | i18next}}</span>
	</div>
	<!-- /.respond-cart-header -->
	
	<div class="respond-cart-container">
		<div class="item" ng-repeat="item in cart">
			<span class="name">
				{{item.name}}
				<small>{{item.sku}} <i ng-show="item.shipping == 'shipped'" class="fa fa-truck"></i></small>
			</span><span class="quantity">
				<input type="number" ng-model="item.quantity" class="form-control"
					ng-change="change(item)">
				<button class="btn btn-default remove"
					ng-click="remove(item)">
					<i class="fa fa-times"></i>
				</button>
			</span><span class="price">
				{{item.price | currency: mark}} {{currency}}
			</span><span class="total">
				{{(item.price * item.quantity) | currency: mark}} {{currency}}</span>
		</div>
		<!-- /.item -->
		
		<div class="subtotal">
			<label>{{'Subtotal' | i18next}}</label><span>{{ subTotal() | currency: mark}} {{currency}}</span>
		</div>
		<div class="tax" ng-show="tax() > 0">
			<labe>{{'Tax' | i18next}}</span><span>{{ tax() | currency: mark}} {{currency}}</label>
		</div>
		<div class="shipping" ng-show="shipping() > 0">
			<label>{{'Shipping' | i18next}}</label><span>{{ shipping() | currency: mark}} {{currency}}</span>
		</div>
		
	</div>
	<!-- /.respond-cart-items -->
	
	<div class="respond-cart-total">
		<div class="total-row">
			<label>{{'Total' | i18next}}</label><span class="total">{{ total() | currency: mark}} {{currency}}</span>
		</div>
	</div>
	<!-- /.respond-cart-totals -->
	
	<div class="checkout">
		<button class="btn btn-default"
			ng-click="checkoutWithPayPal()">{{'Checkout with PayPal' | i18next}}</button>
	</div>
</div>