
<div class="respond-list-container">

	<respond-map id="{{id}}-map"></respond-map>

	<ul class="respond-list list-group">
		
		<li class="list-group-item"
				ng-repeat="page in pages | filter:tag" 
				respond-add-point 
				name="{{page.Name}}"
				url="{{page.Url}}"
				location="{{page.Location}}"
				description="{{page.Description}}"
				lat-long="{{page.LatLong}}" map-id="{{id}}-map">
			<a class="pull-left thumbnail"
				 ui-sref="{{page.Url}}"
				 href="/{{page.Url}}"
				 ng-show="page.HasImage">
					 <img ng-src="page.Thumb">
			</a>
			<h4><a ui-sref="{{page.Url}}" href="/{{page.Url}}">{{page.Name}}</a></h4>
			<h5 ng-show="page.Location">{{page.Location}}</h5>
			<p>{{page.Description}}</p>
		</li>
		
	</ul>

</div>

<p ng-show="(pages | filter:tag).length == 0" class="list-none">{{'No additional pages' | i18next}}</p>

<button class="btn btn-default" ng-show="pageResults && current != 0" ng-click="previous()"><i class="fa fa-chevron-left"></i> {{'Previous' | i18next}}</button>
<button class="btn btn-default" ng-show="pageResults && ((pages | filter:tag).length != 0)" ng-click="next()">{{'Next' | i18next}} <i class="fa fa-chevron-right"></i> </button>