<li ng-repeat="item in menuItems" class="{{item.CssClass}} {{item.HasChildren && 'dropdown' || ''}}  {{(item.PageId == currentPageId) && 'active' || ''}}">
	<a ng-if="item.HasChildren == false && item.PageId != ''"
		ui-sref="{{item.Url}}" href="/{{item.Url}}">{{item.Name}}</a>
		
	<a ng-if="item.HasChildren == false && item.PageId == ''"
		href="{{item.Url}}">{{item.Name}}</a>
		
	<a ng-if="item.HasChildren == true"
		class="dropdown-toggle" data-toggle="dropdown">{{item.Name}} <i class="fa fa-chevron-down"></i></a>
		
	<ul ng-if="item.HasChildren == true" class="dropdown-menu">
		<li ng-repeat="child in item.Children" class="{{item.CssClass}}"> 
			<a ng-if="child.PageId != ''"
				ui-sref="{{child.Url}}" href="/{{child.Url}}">{{child.Name}}</a>
				
			<a ng-if="child.PageId == ''"
				href="{{child.Url}}">{{child.Name}}</a>
		</li>
	</ul>
</li>