<fieldset class="respond-registration">

	<form name="respondRegistrationForm" novalidate>

		<div ng-show="showSuccess" class="alert registration-success alert-success">{{'Registration successful' | i18next}}</div>
		<div ng-show="showError" class="alert registration-error alert-danger">{{'There was a problem registering' | i18next}}</div>
	
		<div class="form-group">
			<label class="control-label">{{'First Name' | i18next}}</label>
			<input type="text" autocomplete="off" class="form-control"
				ng-model="user.FirstName" required>
		</div>
		
		<div class="form-group">
			<label class="control-label">{{'Last Name' | i18next}}</label>
			<input type="text" autocomplete="off" class="form-control"
				ng-model="user.LastName" required>
		</div>
	
		<div class="form-group">
			<label class="control-label">{{'Email' | i18next}}</label>
			<input type="email" autocomplete="off" class="form-control"
				ng-model="user.Email" required>
		</div>
		
		<div class="form-group">
			<label class="control-label">{{'Password' | i18next}}</label>
			<input type="password" autocomplete="off" class="form-control"
				ng-model="user.Password" required>
		</div>
		
		<span class="actions">
			
			<button class="btn btn-default"
				ng-click="register(user)"
				ng-disabled="respondRegistrationForm.$invalid || isUnchanged(user)">
					{{'Register' | i18next}} <i ng-show="showLoading" class="fa fa-angle-right fa-white"></i>
				</button>
		</span>
	
	</form>
	
</fieldset>