<div class="respond-shelf-item" 
	data-productid="{{productid}}" 
	data-sku="{{sku}}" 
	data-name="{{name}}"
	data-price="{{price}}"
	data-shipping="{{shipping}}">
	
	<span class="shelf-group1">
		<h4>{{name}}</h4>
		<small>{{productid}}</small>
	</span>
	
	<span class="shelf-group2">
		<h4>{{price | currency: mark}} {{currency}}</h4>
		<small>{{shipping}}</small>
	</span>
	
	<span class="shelf-group3">
		<input type="number" value="1" class="form-control">
		<button 
			ng-click="addToCart()"
			class="btn btn-default">
			<i class="fa fa-shopping-cart"></i> {{'Add to Cart' | i18next}}
		</button>
	</span>
</div>