<div id="{{id}}" class="carousel {{transition}}">
	
	<ol ng-show="indicators"
		class="carousel-indicators">
		<li ng-repeat="image in images"
			ng-click="go($index)"
			data-target="#{{id}}" ng-class="{active:$index==0}"></li>
	</ol>
	
	<div class="carousel-inner" ng-transclude></div>
	
	<a  ng-show="arrows"
		class="left carousel-control" 
		ng-click="previous()"
		role="button" data-slide="prev">
		<span class="glyphicon glyphicon-chevron-left"></span>
	</a>
	<a  ng-show="arrows"
		class="right carousel-control" 
		ng-click="next()"
		role="button" data-slide="next">
		<span class="glyphicon glyphicon-chevron-right"></span>
	</a>
</div>