<menu class="app-menu">

    <button class="app-more" (click)="toggleDrawer()"><svg viewBox="0 0 24 24" width="24" height="24" preserveAspectRatio="xMidYMid meet"><g><path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"></path></g></svg></button>

    <h1>{{ 'Files' | translate }}</h1>

</menu>

<section class="app-main">

  <respond-dropzone (onAdd)="list($event)"></respond-dropzone>

  <div id="files-list" class="app-list">
    <div class="app-list-item" *ngFor="let  file of files" (click)="setActive(file)" [class.selected]="file === selectedFile" [class.image]="file.thumb !== ''">
      <h2><span class="primary">{{ file.name }}</span><span class="secondary">{{ file.size }} MB</span></h2>
      <img *ngIf="file.thumb !== ''" class="image" src="{{file.thumb}}">
      <small>/files/{{ file.name }}</small>
      <div class="app-list-actions">
          <a (click)="showRemove(file)">{{ 'Remove' | translate }}</a>
      </div>
    </div>
  </div>

  <p class="no-list-items" *ngIf="files.length === 0">{{ 'Nothing here yet' | translate }}</p>

</section>

<respond-remove-file [visible]="removeVisible" [file]="file" (onCancel)="reset($event)" (onUpdate)="list($event)" (onError)="failure($event)"></respond-remove-file>

<respond-drawer active="files" [visible]="drawerVisible" (onHide)="reset($event)"></respond-drawer>