<div class="app-modal" [class.visible]="visible === true">

  <form (ngSubmit)="submit()" #addForm="ngForm">

    <h2>{{ 'Add Page' | translate }}</h2>

    <label>{{ 'Path' | translate }}</label>
    <select id="hashedit-add-page-path"
      [(ngModel)]="model.path"
      name="path">
      <option *ngFor="let route of routes" [value]="route">{{route}}</option>
    </select>

    <label>{{ 'URL' | translate }}</label>
    <input id="hashedit-add-page-url" type="text" maxlength="128" placeholder="new-page" required
      [(ngModel)]="model.url"
      name="url">

    <label>{{ 'Title' | translate }}</label>
    <input id="hashedit-add-page-title" type="text" maxlength="128" required
      [(ngModel)]="model.title"
      name="title">

    <label>{{ 'Description' | translate }}</label>
    <input id="hashedit-add-page-desc" type="text" maxlength="128"
      [(ngModel)]="model.description"
      name="description">

    <label>{{ 'Template' | translate }}</label>
    <select id="hashedit-add-page-template"
      [(ngModel)]="model.template"
      name="template">
      <option *ngFor="let template of templates" [value]="template">{{template}}</option>
    </select>

    <div class="actions">
      <a (click)="hide()">{{ 'Cancel' | translate }}</a>
      <button type="submit" [disabled]="processing">{{ 'Add Page' | translate }}</button>
    </div>

  </form>

</div>