<menu class="app-menu">

    <button class="app-more" (click)="toggleDrawer()"><svg viewBox="0 0 24 24" width="24" height="24" preserveAspectRatio="xMidYMid meet"><g><path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"></path></g></svg></button>

    <h1>{{ 'Advanced' | translate }}</h1>
</menu>

<section class="app-main">

  <div id="developer-list" class="app-list">
    <div class="app-list-item" (click)="setActive('plugins')" [class.selected]="selectedOption === 'plugins'">
      <h2><span class="primary">{{ 'Re-publish Plugins' | translate }}</span></h2>
      <p>{{ 'When you are developing a plugin, you can use this function to republish the pages so the plugin update takes effect.' | translate }}</p>
      <div class="app-list-actions">
          <a class="primary" (click)="reload()">{{'Execute' | translate }}</a>
      </div>
    </div>
    <!-- plugins -->

    <div class="app-list-item" (click)="setActive('reindex')" [class.selected]="selectedOption === 'reindex'">
      <h2><span class="primary">{{ 'Re-index Pages' | translate }}</span></h2>
      <p>{{ 'Republish the sitemap and pages index.' | translate }}</p>
      <div class="app-list-actions">
          <a class="primary" (click)="reindex()">{{'Execute' | translate }}</a>
      </div>
    </div>
    <!-- sitemap -->

    <div class="app-list-item" (click)="setActive('sitemap')" [class.selected]="selectedOption === 'sitemap'">
      <h2><span class="primary">{{ 'Re-publish Sitemap' | translate }}</span></h2>
      <p>{{ 'Republish the sitemap when you make changes outside of the application.' | translate }}</p>
      <div class="app-list-actions">
          <a class="primary" (click)="sitemap()">{{'Execute' | translate }}</a>
      </div>
    </div>
    <!-- sitemap -->

    <!-- 
    <div class="app-list-item" (click)="setActive('migrate')" [class.selected]="selectedOption === 'migrate'">
      <h2><span class="primary">{{ 'Migrate Respond 5 site' | translate }}</span></h2>
      <p>{{ 'Updates HTML from Respond 5 so that it consistent with Respond 6' | translate }}</p>
      <div class="app-list-actions">
          <a class="primary" (click)="migrate()">{{'Execute' | translate }}</a>
      </div>
    </div>
    migrate -->

    <div class="app-list-item" (click)="setActive('templates')" [class.selected]="selectedOption === 'templates'">
      <h2><span class="primary">{{ 'Republish Templates' | translate }}</span></h2>
      <p>{{ 'Republishes all templates and pushes the updates to pages that inherit from those templates.  Warning: Will overwrite any custom HTML outside of the [role=main] block with HTML from the template.' | translate }}</p>
      <div class="app-list-actions">
          <a class="primary" (click)="templates()">{{'Execute' | translate }}</a>
      </div>
    </div>
    <!-- republish template -->

    <div class="app-list-item" (click)="setActive('update-plugins')" [class.selected]="selectedOption === 'update-plugins'">
      <h2><span class="primary">{{ 'Update Plugins' | translate }}</span></h2>
      <p>{{ 'Updates the plugins for your site and re-syncs them with the latest version from the theme. Warning: will overwrite any custom updates you made to plugins built into the theme.' | translate }}</p>
      <div class="app-list-actions">
          <a class="primary" (click)="update()">{{'Execute' | translate }}</a>
      </div>
    </div>
    <!-- republish template -->

  </div>

</section>

<respond-drawer active="advanced" [visible]="drawerVisible" (onHide)="reset($event)"></respond-drawer>