<menu class="app-menu">

    <button class="app-more" (click)="toggleDrawer()"><svg viewBox="0 0 24 24" width="24" height="24" preserveAspectRatio="xMidYMid meet"><g><path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"></path></g></svg></button>

    <h1>{{ 'Users' | translate }}</h1>

    <button class="app-add" (click)="showAdd()"><svg viewBox="0 0 24 24" width="24" height="24" preserveAspectRatio="xMidYMid meet"><g><path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"></path></g></svg></button>

</menu>

<section class="app-main">

  <div id="users-list" class="app-list">
    <div class="app-list-item" *ngFor="let user of users" (click)="setActive(user)" [class.selected]="user === selectedUser">
      <h2><span class="primary">{{ user.firstName }} {{ user.lastName }}</span></h2>
      <small>{{ user.email }}</small>
      <div class="app-list-actions">
          <a (click)="showRemove(user)">{{ 'Remove' | translate }}</a>
          <a (click)="showEdit(user)" class="primary">{{ 'Edit' | translate }}</a>
      </div>
    </div>
  </div>
  
  <p class="no-list-items" *ngIf="users.length === 0">{{ 'Nothing here yet' | translate }}</p>

</section>

<respond-add-user [visible]="addVisible" (onCancel)="reset($event)" (onAdd)="list($event)" (onError)="failure($event)"></respond-add-user>

<respond-edit-user [visible]="editVisible" [user]="user" (onCancel)="reset($event)" (onUpdate)="list($event)" (onError)="failure($event)"></respond-edit-user>

<respond-remove-user [visible]="removeVisible" [user]="user" (onCancel)="reset($event)" (onUpdate)="list($event)" (onError)="failure($event)"></respond-remove-user>

<respond-drawer active="users" [visible]="drawerVisible" (onHide)="reset($event)"></respond-drawer>