<div id="block-1" class="block row-fluid">
	<div class="col span12">
		<h1 id="h1-1">Contact Us</h1>
		<p id="paragraph-1">Placeholder for the Contact Us page.</p>
		<module id="form-2" name="form">
			<div class="control-group" data-type="text" data-required="true">
				<label for="first-name" class="control-label">First Name</label>
				<div class="controls"><input id="first-name" type="text"></div>
			</div>
			<div class="control-group" data-type="text" data-required="true">
				<label for="last-name" class="control-label">Last Name</label>
				<div class="controls"><input id="last-name" type="text"></div>
			</div>
			<div class="control-group" data-type="text" data-required="true">
				<label for="email" class="control-label">Email</label>
				<div class="controls"><input id="email" type="text"></div>
			</div>
			<div class="control-group" data-type="radiolist">
				<label for="preferred-contact-method" class="control-label">Preferred Contact Method</label>
				<div class="controls">
					<span class="list">
						<label class="radio"><input type="radio" value="Email" name="preferred-contact-method">Email</label>
						<label class="radio"><input type="radio" value="Phone" name="preferred-contact-method">Phone</label>
					</span>
				</div>
			</div>
			<div class="control-group" data-type="textarea">
				<label for="additional-information" class="control-label">Additional Information</label>
				<div class="controls"><textarea id="additional-information"></textarea></div>
			</div>
		</module>
	</div>
</div>  
