<section class="main">
	
	<nav>
        <a class="show-menu"></a>
        
        <h1>{{themeId | i18next | toHuman}}</h1>
        
        <button ng-click="changeTheme()"
       		class="primary-action">
	   		{{'Change Theme' | i18next}}
       </button>
       
       <div class="dropdown more">
		  <button class="dropdown-toggle" type="button" id="more-menu" data-toggle="dropdown">
		    <i class="fa fa-ellipsis-v"></i>
		  </button>
		  <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="more-menu">
		  	<li role="presentation"> 
    			<a ng-click="refresh()"
    				tabindex="-1">
    				{{'Refresh' | i18next}}
    			</a>
		  	</li>
		  </ul>
		</div>
    </nav>
	
	<aside id="context-menu" class="context-menu">
	
		<div class="page-settings config active">
	
			<div class="context-body">
				
				<div ng-repeat="config in configs">
					
					<h2 data-toggle="#{{config.name | toid}}-settings">{{config.name}} <a><i class="fa fa-angle-down"></i></a></h2>
					
					<div id="{{config.name | toid}}-settings" class="context-block" ng-class='{hidden: !$first}'>
				
						<div class="form-group" ng-repeat="control in config.controls">
							<label for="name">{{control.name}}</label>
							<input
								ng-if="control.control=='text' || control.control=='color' || control.control=='image'"
								type="text" maxlength="128" class="form-control"
									ng-model="control.selected">
									
							<input
								ng-if="control.control=='number'"
								type="number" class="form-control"
									ng-model="control.selected">
							
							<input 
								ng-if="control.control=='color'"
								action="configure.current"
								respond-spectrum type="color" ng-model="control.selected" color="{{control.selected}}" current="control">
								
							<button 
								ng-if="control.control=='image'"
								ng-click="showAddImage(control)"
								class="image-picker"><i class="fa fa-image"></i></button>	
								
							<select
								ng-if="control.control=='select'" 
								ng-options="o as o for o in control.options"
								ng-model="control.selected" class="form-control">
							</select>	
									
						</div>
					</div>
				
				</div>
			
			</div>
			
			<div class="context-footer">
				<button ng-click="apply()">{{'Apply to Theme' | i18next}}</button>
			</div>
			
	</aside>
	<!-- /.context-menu -->
	
	<iframe ng-src="{{currentSite}}">
	
	</iframe>
	
</section>
<!-- /.main -->

<div class="modal fade" id="imagesDialog">

	<!-- messages -->
	<input id="msg-enter-caption" value="{{'Enter caption' | i18next}}" type="hidden">
	<input id="msg-image-instructions" value="{{'add_content_change_image' | i18next}}" type="hidden">
	
	<div class="modal-dialog">
	
		<div class="modal-content">

			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">×</button>
				<h3>{{'Select or upload a new image' | i18next}} <small>{{totalSize}} / {{fileLimit}} MB</small></h3>
			</div>
			<!-- /.modal-header -->
			
			<menu>
    
		    	<div class="dropdown">
				  <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
				    <span id="load-image">{{'Existing Image' | i18next}}</span>
				    <span class="caret"></span>
				  </button>
				  <ul id="images-dropdown" class="dropdown-menu dropdown-auto" role="menu" aria-labelledby="image-types" data-display="#load-image">
			  		<li class="active" data-target=".add-existing-image"><a>{{'Existing Image' | i18next}}</a></li>
					<li data-target=".upload-new-image"><a>{{'Upload new Image' | i18next}}</a></li>
				  </ul>
				</div>
		    </menu>
		
			<div class="modal-body">
				
				<div class="upload-new-image hidden">
					<div id="drop" 
						ng-if="totalSize <= fileLimit"
						class="dropzone in-dialog" drop-zone target="branding" callback="updateImages()">
					    <span class="dz-message">
					        <i class="fa fa-cloud-upload fa-4x"></i> {{'Drag file here or click to upload' | i18next}}</span>
					    </span>
					</div>
					<!-- /.dropzone -->
				</div>
				<!-- /.add-external-image -->
			
				<div class="add-existing-image">
					<div id="select-image" class="select select-xl">
						<ul>
						    <li class="image existing" ng-repeat="image in images" ng-click="addImage(image)">
						        <img 
						        	ng-src="{{image.thumbUrl}}" width="100">
						        <span class="select-block">
						        	{{image.filename}}
									<em>{{image.width}}px x {{image.height}}px</em>
						        </span>
						    </li>
						</ul>
					</div>
					<!-- /.select -->
					
				</div>
				<!-- /.add-existing-image -->
				
			</div>
			<!-- /.modal-body -->
			
			<div class="modal-footer add-external-image hidden">
				<button class="secondary-button" data-dismiss="modal">{{'Close' | i18next}}</button>
				<button type="button" class="primary-button" ng-click="addExternalImage()">{{'Add' | i18next}}</button>
			</div>   
			 <!-- /.modal-footer -->
			
		</div>
		<!-- /.modal-conten -->
	
	</div>
	<!-- /.immersive-body -->

</div>
<!-- /.modal -->