<section class="main">

    <nav>
        <a class="show-menu"></a>
    
        <h1>{{'Profile' | i18next}}</h1>
        
    </nav>
    <!-- /nav -->
  	
	<form name="addEditForm" novalidate>

		<div class="form-group">
			<label for="firstName">{{'First Name' | i18next}}</label>
			<input id="firstName" 
				ng-model="user.FirstName"
				type="text" class="form-control" required>
		</div>
		
		<div class="form-group">
			<label for="lastName">{{'Last Name' | i18next}}</label>
			<input id="lastName"
				ng-model="user.LastName" 
				type="text" class="form-control" required>
		</div>
		
		<div class="form-group">
			<label for="language">{{'Language' | i18next}}</label>
			<select id="language" class="form-control" 
				ng-model="user.Language"
				ng-options="language.code as language.text for language in languages" required></select>
		</div>
		
		<div class="form-group">
			<label for="email">{{'Email' | i18next}}</label>
			<input id="email"
				ng-model="user.Email" 
				type="text" class="form-control" required>
			<span class="help-block">{{'Also used as the login' | i18next}}</span>
		</div>
		
		<div class="form-group">
			<label for="password">{{'Password' | i18next}}</label>
			<input id="password" type="password"
				ng-model="user.Password" class="form-control" required>
			<span class="help-block">{{'special_naming_password' | i18next}}</span>
		</div>
		
	</form>    
	<!-- /.form-horizontal -->
    
    <div class="actions">
        <button class="primary-button"
         	ng-click="save()"
         	type="button">{{'Save' | i18next}}</button>
    </div>

</section>
<!-- /.main -->