<section class="main">

<nav>
        <a class="show-menu"></a>
        <h1>{{'Roles' | i18next}}</h1>
        
        <button ng-click="showAddRole()"
       		class="primary-action">
	   		{{'Add Role' | i18next}}
       </button>  
    </nav>
    <!-- /nav -->
    <menu>
    	<div class="dropdown">
    		<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
		    <span id="settings-text">{{'Roles' | i18next}}</span>
		    <span class="caret"></span>
		</button>
		<ul class="dropdown-menu dropdown-auto" role="menu" aria-labelledby="page-types" data-display="#settings-text">
	  		<li><a ui-sref="app.users">{{'Users' | i18next}}</a></li>
	  		<li class="active"><a>{{'Roles' | i18next}}</a></li>
		</ul>
	</div>
    </menu>
    <!-- /menu -->

    <div id="rolesList" class="list">
    	<div class="listItem" data-id="Admin">
    		<h2>
    			<a ng-click="showDefault('Admin')">{{'Admin' | i18next}}</a>
    		</h2>
            <em>{{'Default' | i18next}}</em>
    	</div>
    	
    	<div class="listItem" data-id="Contributor">
    		<h2>
    			<a ng-click="showDefault('Contributor')">{{'Contributor' | i18next}}</a>
    		</h2>
            <em>{{'Default' | i18next}}</em>
    	</div>
    	
    	<div class="listItem" data-id="Member">
    		<h2>
    			<a ng-click="showDefault('Member')">{{'Member' | i18next}}</a>
    		</h2>
            <em>{{'Default' | i18next}}</em>
    	</div>
    	
    
		<div class="listItem" ng-repeat="role in roles">
    		<a class="remove" ng-click="showRemoveRole(role)">
                <i class="fa fa-minus-circle"></i>
            </a>
    		<h2>
    			<a ng-click="showEditRole(role)">{{role.Name}}</a>
    		</h2>
            <em>{{'Custom' | i18next}}</em>
    	</div>
    
    </div>
    <!-- /.list -->
    
    <p ng-show="loading" class="list-loading"><i class="fa fa-spinner fa-spin"></i> {{'Loading' | i18next}}</p>
    

</section>
<!-- /.main -->

<div class="modal fade" id="addEditDialog">

	<div class="modal-dialog">
	
		<div class="modal-content">

			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">x</button>
				<h3 class="add">{{'Add Role' | i18next}}</h3>
				<h3 class="edit">{{'Update Role' | i18next}}</h3>
			</div>
			<!-- /.modal-header -->

			<div class="modal-body">
			
				<form name="addEditForm" novalidate>
			
				<div id="custom-name" 
					ng-show="isDefault==false"
					class="form-group no-border">
					<label for="name">{{'Name' | i18next}}</label>
					<input id="name" type="text" 
						ng-model="temp.Name"
						class="form-control" required>
					<span class="help-block">{{'special_naming_username' | i18next}}</span>
				</div>
				
				<p id="default-message" 
					ng-show="isDefault"
					class="alert alert-info">
					{{'cannot_change_default_roles' | i18next}}
				</p>
				
				<table class="role-table table table-striped table-bordered">
					<col>
					<col width="15%">
					<col width="15%">
					<col width="15%">
					<col width="15%">
					<col width="15%">
					<thead>
						<tr>
							<th>{{'Page Type' | i18next}}</th>
							<th class="text-center">{{'View' | i18next}}<small>{{'On Site' | i18next}}</small></th>
							<th class="text-center">{{'Edit' | i18next}}<small>{{'In App' | i18next}}</small></th>
							<th class="text-center">{{'Publish' | i18next}}<small>{{'In App' | i18next}}</small></th>
							<th class="text-center">{{'Remove' | i18next}}<small>{{'In App' | i18next}}</small></th>
							<th class="text-center">{{'Create' | i18next}}<small>{{'In App' | i18next}}</small></th>
						</tr>
					</thead>
					<tbody>
						<tr class="all-row info">
							<td>{{'All' | i18next}}</td>
							<td class="text-center"><input class="chk-view-all" 
								ng-disabled="isDefault"
								type="checkbox" type="form-control"></td>
							<td class="text-center"><input class="chk-edit-all" 
								ng-disabled="isDefault"
								type="checkbox" type="form-control"></td>
							<td class="text-center"><input class="chk-publish-all" 
								ng-disabled="isDefault"
								type="checkbox" type="form-control"></td>
							<td class="text-center"><input class="chk-remove-all" 
								ng-disabled="isDefault"
								type="checkbox" type="form-control"></td>
							<td class="text-center"><input class="chk-create-all" 
								ng-disabled="isDefault"
								type="checkbox" type="form-control"></td>
						</tr>
						<tr class="root-row">
							<td>/</td>
							<td class="text-center">&nbsp;</td>
							<td class="text-center"><input class="chk-edit-root chk-edit" 
								ng-disabled="isDefault"
								type="checkbox" type="form-control" value="root"></td>
							<td class="text-center"><input class="chk-publish-root chk-publish" 
								ng-disabled="isDefault"
								type="checkbox" type="form-control" value="root"></td>
							<td class="text-center"><input class="chk-remove-root chk-remove" 
								ng-disabled="isDefault"
								type="checkbox" type="form-control" value="root"></td>
							<td class="text-center"><input class="chk-create-root chk-create" 
								ng-disabled="isDefault"
								type="checkbox" type="form-control" value="root"></td>
						</tr>
						<!-- ko foreach: pageTypes -->
						<tr class="type-row"
							ng-repeat="pageType in pageTypes">
							<td>/{{pageType.FriendlyId}}</td>
							<td class="text-center">
								<input class="chk-view chk-view-{{pageType.PageTypeId}}" 
									ng-show="pageType.IsSecure == 1"
									ng-value="pageType.PageTypeId"
									ng-disabled="isDefault"
									type="checkbox" type="form-control">
								</td>
							<td class="text-center">
								<input class="chk-edit chk-edit-{{pageType.PageTypeId}}"
									ng-value="pageType.PageTypeId"
									ng-disabled="isDefault"
									type="checkbox" type="form-control">
							</td>
							<td class="text-center">
								<input class="chk-publish chk-publish-{{pageType.PageTypeId}}" 
									ng-value="pageType.PageTypeId"
									ng-disabled="isDefault"
									type="checkbox" type="form-control">
							</td>
							<td class="text-center">
								<input class="chk-remove chk-remove-{{pageType.PageTypeId}}" 
									ng-value="pageType.PageTypeId"
									ng-disabled="isDefault"
									type="checkbox" type="form-control">
							</td>
							<td class="text-center">
								<input class="chk-create chk-create-{{pageType.PageTypeId}}" 
									ng-value="pageType.PageTypeId"
									ng-disabled="isDefault"
									type="checkbox" type="form-control">
							</td>
						</tr>
						<!-- /ko -->
		    		</tbody>
				
				</table>
			
				</form>
			
			</div>
			<!-- /.modal-body -->

			<div class="modal-footer">
				<button class="secondary-button" data-dismiss="modal">{{'Close' | i18next}}</button>
				<button class="primary-button add"
					ng-click="addRole(temp)"
					ng-show="isDefault==false"
					ng-disabled="addEditForm.$invalid || isUnchanged(temp)"
					type="button">{{'Add' | i18next}}</button>
				<button id="update-role-btn" class="primary-button edit" 
					ng-click="editRole(temp)"
					ng-show="isDefault==false"
					ng-disabled="addEditForm.$invalid || isUnchanged(temp)"
					type="button">{{'Update' | i18next}}</button>
			</div>
			<!-- /.modal-footer -->
		
		</div>
		<!-- /.modal-content -->
		
	</div>
	<!-- /.modal-dialog -->

  </div>
  <!-- /.modal-body -->

</div>
<!-- /.modal -->

<div class="modal fade" id="removeDialog">

	<div class="modal-dialog">
	
		<div class="modal-content">
		
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">x</button>
				<h3>{{'Remove' | i18next}}</h3>
			</div>
			<!-- /.modal-header -->
			
			<div class="modal-body">
			
				<p>
				{{'Confirm you want to remove:' | i18next}} <strong>{{temp.Name}}</strong>
				</p>
			
			</div>
			<!-- /.modal-body -->
			
			<div class="modal-footer">
				<button class="secondary-button" data-dismiss="modal">{{'Close' | i18next}}</button>
				<button class="primary-button" ng-click="removeRole(temp)">{{'Remove' | i18next}}</button>
			</div>
			<!-- /.modal-footer -->
		
		</div>
		<!-- /.modal-content -->
		
	</div>
	<!-- /.modal-dialog -->

  </div>
  <!-- /.modal-body -->

</div>
<!-- /.modal -->
