<section class="main">

    <nav>
        <a class="show-menu"></a>
        
        <h1>{{'Signup' | i18next}}</h1>
    </nav>
    <!-- /nav -->
    
    <p ng-if="error != ''"
    	class="alert alert-danger" style="padding-bottom: 10px;">
	    {{error}}  
    </p>

	<form id="subscribe-form" name="subscribeForm" class="signup" novalidate>
	
		<p>
			{{'signup1' | i18next}} <a target="_blank" href="{{setup.pricingLink}}">{{'signup2' | i18next}}</a>
		</p>
	
		<div class="form-group">
			<label for="name" class="control-label">{{'Domain Name' | i18next}}</label>
			<div>
				<input id="name" type="text" 
					ng-model="temp.domain"
					class="form-control" required>
			</div>
		</div>
		
		<div class="form-group">
			<label for="domain" class="control-label">{{'Plan' | i18next}}</label>
			<div>
				<select class="form-control"
					ng-model="temp.plan" required>
						<option ng-repeat="plan in setup.plans" value="{{plan.id}}">{{plan.desc}}</option>
				</select>
			</div>
		</div>
		
		<!-- paywith -->
		<div 
			ng-if="showOptions == true"
			class="form-group">
			<label for="domain" class="control-label">{{'Pay With' | i18next}}</label>
			<div>
				<select class="form-control"
					ng-model="temp.payWith">
					<option value="stripe">Credit Card</option>
					<option value="paypal">PayPal</option>
				</select>
			</div>
		</div>

	    <div class="form-group"
	    	ng-if="temp.payWith == 'stripe'">
			<label for="address">{{'Credit Card Number' | i18next}}</label>
			<input id="cc" type="text" maxlength="20" data-stripe="number" class="form-control" required>
		</div>
		
		<div class="form-group"
			ng-if="temp.payWith == 'stripe'">
			<label for="cvc">{{'CVC' | i18next}}</label>
			<input id="cvc" type="text" placeholder="CVC" class="form-control input-4" maxlength="4" data-stripe="cvc" required>
		</div>
		
		<div class="form-group"
			ng-if="temp.payWith == 'stripe'">
			<label for="expires">{{'Expires' | i18next}}</label>
			<div>
				<input id="expiresMM" type="text" placeholder="MM" class="inline form-control input-2" maxlength="2" data-stripe="exp-month" required> / <input id="expiresYY" type="text" maxlength="4" placeholder="YYYY" class="inline form-control input-4" data-stripe="exp-year" required>
			</div>
		</div>
		
		
    </form>
    <!-- /.form-horizontal -->
 
	<div id="actions" class="actions">
		<button class="primary-button"
			ng-disabled="subscribeForm.$invalid"
			ng-if="temp.payWith == 'stripe'"
			ng-click="payWithStripe()">{{'Subscribe' | i18next}}</button>
			
		<button class="primary-button"
			ng-if="temp.payWith == 'paypal'"
			ng-click="payWithPaypal()">{{'Subscribe with PayPal' | i18next}}</button>
	<div>

</section>
<!-- /.main -->