<div class="app-modal" [class.visible]="visible === true">

  <form (ngSubmit)="submit()" #addForm="ngForm">

    <h2>{{ 'Add Form Field' | translate }}</h2>

    <div class="app-modal-body">

      <label>{{ 'Label' | translate }}</label>
      <input id="hashedit-add-form-field-label" type="text" maxlength="128" placeholder="" required
        [(ngModel)]="model.label"
        name="label">

      <label>{{ 'Type' | translate }}</label>
      <select id="hashedit-add-form-field-type"
        [(ngModel)]="model.type"
        name="isNested">
        <option value="text">{{ 'Text' | translate }}</option>
        <option value="email">{{ 'Email' | translate }}</option>
        <option value="number">{{ 'Number' | translate }}</option>
        <option value="url">{{ 'URL' | translate }}</option>
        <option value="tel">{{ 'Telephone' | translate }}</option>
        <option value="date">{{ 'Date' | translate }}</option>
        <option value="time">{{ 'Time' | translate }}</option>
        <option value="textarea">{{ 'Textarea' | translate }}</option>
        <option value="select">{{ 'Select List' | translate }}</option>
        <option value="radiolist">{{ 'Radio List' | translate }}</option>
        <option value="checklist">{{ 'Checkbox List' | translate }}</option>
      </select>

      <label>{{ 'Required?' | translate }}</label>
      <select id="hashedit-add-form-field-required"
        [(ngModel)]="model.required"
        name="required">
        <option value="true">{{ 'Yes' | translate }}</option>
        <option value="false">{{ 'No' | translate }}</option>
      </select>

      <label>{{ 'Options' | translate }}</label>
      <input id="hashedit-add-form-field-options" type="text" maxlength="128" placeholder=""
        [(ngModel)]="model.options"
        name="options">

      <label>{{ 'Helper Text' | translate }}</label>
      <input id="hashedit-add-form-field-options" type="text" maxlength="128" placeholder=""
        [(ngModel)]="model.helperText"
        name="helperText">

      <label>{{ 'Placeholder' | translate }}</label>
      <input id="hashedit-add-form-field-options" type="text" maxlength="128" placeholder=""
        [(ngModel)]="model.placeholder"
        name="placeholder">

      <label>{{ 'CSS Class' | translate }}</label>
      <input id="hashedit-add-form-field-cssclass" type="text" maxlength="128" placeholder=""
        [(ngModel)]="model.cssClass"
        name="cssClass">

    </div>
    <!-- /.app-modal-body -->

    <div class="actions">
      <a (click)="hide()">{{ 'Cancel' | translate }}</a>
      <button type="submit">{{ 'Add Form Field' | translate }}</button>
    </div>

  </form>

</div>