<div class="app-modal" [class.visible]="visible === true">

  <form (ngSubmit)="submit()" #addForm="ngForm">

    <h2>{{ 'Add Component' | translate }}</h2>

    <label>{{ 'URL' | translate }}</label>
    <input id="hashedit-add-component-url" type="text" maxlength="128" placeholder="new-component" required
      [(ngModel)]="model.url"
      name="url">

    <div class="actions">
      <a (click)="hide()">{{ 'Cancel' | translate }}</a>
      <button type="submit">{{ 'Add Component' | translate }}</button>
    </div>

  </form>

</div>