<menu class="app-menu" [class.noborder]="forms.length !== 0">

    <button class="app-more" (click)="toggleDrawer()"><svg viewBox="0 0 24 24" width="24" height="24" preserveAspectRatio="xMidYMid meet"><g><path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"></path></g></svg></button>

    <h1>{{ 'Forms' | translate }}</h1>

    <button class="app-add position-2" (click)="showAddField()" *ngIf="forms.length !== 0"><svg viewBox="0 0 24 24" width="24" height="24" preserveAspectRatio="xMidYMid meet"><g><path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"></path></g></svg></button>

    <button class="app-overflow" (click)="toggleOverflow()" *ngIf="selectedForm !== undefined"><svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0z" fill="none"/><path d="M12 8c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zm0 2c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0 6c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z"/></svg></button>

</menu>

<section class="app-main">

  <nav class="app-selector">
    <ul>
      <li *ngFor="let form of forms" [class.selected]="form.id === selectedForm.id" (click)="setActive(form)">
        <a>{{form.name}}</a>
      </li>
    </ul>
  </nav>


  <div id="fields-list" class="app-list">
    <div class="app-list-item" *ngFor="let field of fields" (click)="setFieldActive(field)" [class.selected]="field === selectedField">
      <h2><span class="primary">{{ field.label }}</span></h2>
      <small>{{ field.type | translate }}</small>
      <div class="app-list-actions">
          <span class="app-list-alternate-actions">
            <a (click)="moveFieldDown(field)">{{ 'Move Down' | translate }}</a>
            <a (click)="moveFieldUp(field)">{{ 'Move Up' | translate }}</a>
          </span>
          <a (click)="showRemoveField(field)">{{ 'Remove' | translate }}</a>
          <a class="primary" (click)="showEditField(field)">{{ 'Edit' | translate }}</a>
      </div>
    </div>
  </div>

  <p class="no-list-items" *ngIf="fields.length === 0">
    {{ 'Nothing here yet' | translate }}
    <a (click)="showAddField()" *ngIf="forms.length !== 0 && fields.length === 0">{{ 'Add Form Field' | translate }}</a>
    <a (click)="showAdd()" *ngIf="forms.length === 0">{{ 'Add Form' | translate }}</a>
  </p>

</section>

<respond-add-form [visible]="addVisible" (onCancel)="reset($event)" (onAdd)="list($event)" (onError)="failure($event)"></respond-add-form>

<respond-edit-form [visible]="editVisible" [form]="selectedForm" (onCancel)="reset($event)" (onUpdate)="list($event)" (onError)="failure($event)"></respond-edit-form>

<respond-remove-form [visible]="removeVisible" [form]="selectedForm" (onCancel)="reset($event)" (onUpdate)="list($event)" (onError)="failure($event)"></respond-remove-form>

<respond-add-form-field [visible]="addFieldVisible" [form]="selectedForm" (onCancel)="reset($event)" (onAdd)="list($event)" (onError)="failure($event)"></respond-add-form-field>

<respond-edit-form-field [visible]="editFieldVisible" [form]="selectedForm" [field]="selectedField" [index]="selectedIndex" (onCancel)="reset($event)" (onAdd)="list($event)" (onError)="failure($event)"></respond-edit-form-field>

<respond-remove-form-field [visible]="removeFieldVisible" [form]="selectedForm" [field]="selectedField" [index]="selectedIndex" (onCancel)="reset($event)" (onUpdate)="list($event)" (onError)="failure($event)"></respond-remove-form-field>

<respond-drawer active="forms" [visible]="drawerVisible" (onHide)="reset($event)"></respond-drawer>

<nav class="app-overflow" [class.visible]="overflowVisible === true">

  <ul>
    <li class="app-overflow-title"><span>{{ 'Additional Options' | translate }}</span></li>
    <li><a (click)="showAdd()">{{ 'Add Form' | translate }}</a></li>
    <li><a (click)="showEdit()">{{ 'Edit Form' | translate }}</a></li>
    <li><a (click)="showRemove()">{{ 'Remove Form' | translate }}</a></li>
  </ul>

</nav>