<link rel="import" href="lib/polymer/polymer.html">

<polymer-element name="plugin-sample">
  <template>
    <style>
    :host {
      display: block;
      position: relative;
      background-color: red;
      padding: 20px;
      width: 100%;
      font-size: 1.2rem;
      font-weight: 300;
    }
    .h3{
	    font-weight: bold;
	    color: yellow;
    }
    </style>

    <!-- CARD CONTENTS GO HERE -->
    <h3>This is a sample plugin using polymer</h3>
    
    
  </template>
  
  <script>
  Polymer({});
  </script>
</polymer-element>