<dom-module id="respond-languages-toggle">

	<style>
		.toggle{
			display: none;
			width: 65px;
		  	height: 65px;
		  	line-height: 65px;
		  	text-align: center;
		  	color: #555;
		}
		
			.toggle[visible]{
				display: block;
			}
    </style>

	<template>
	
		<a class="toggle" 
			visible$="{{showLanguages}}"
			on-click="toggleLanguages"><core-icon icon="language"></core-icon></a>
	
	</template>
</dom-module>

<script>
  Polymer({
	  	is: "respond-languages-toggle",
	
	  	// element attributes
	  	properties: {},
		
		// attached
		attached: function() {
		  	this.showLanguages = respond.site.settings.ShowLanguages;
		},
		
		// toggle languages
		toggleLanguages: function(){
		
			// fire language toggle
			this.fire('languages-toggled');
		  
		}
	
	});
</script>