<dom-module id="respond-shelf-item">

	<style>
	
		table{
	    	width: 100%;
	    	border-bottom: 1px solid #f0f0f0;
    	}
    
    	td{
			padding: 10px 5px;
    	}
    	
    	td:first-child{
	    	padding-left: 0;
    	}
    	
    	td:last-child{
	    	padding-right: 0;
    	}
    
		td small{
			display: block;
		}
    
    	button{
	    	display: inline-block;
			background-color: #fff;
			border: 1px solid #ddd;
			padding: 10px 10px;
			margin: 0;
			font-size: 16px;
			outline: none;
			font-size: 0.95em;
			color: #777;
		}
		
		input[type=number]{
			height: 36px;
			line-height: 36px;
			border: 1px solid #ddd;
			width: 50px;
			text-align: right;
		}
		
		.price{
			text-align: right;
			width: 100px;
		}
		
		.quantity{
			text-align: right;
			width: 50px;
		}
		
		.action{
			text-align: right;
			width: 150px;
		}
		
		core-icon{
			margin-left: 10px;
			color: #aaa;
			height: 20px !important;
		}

		.sku, .shipping{
			display: none;
		}
		
		.sku[visible], .shipping[visible]{
			display: block;
		}
    </style>

	<template>
		<table>
			<tr>
				<td class="name">
					<span>{{name}}</span>
					<span class="shipping" visible$="{{isShipped}}"></span>
					<span class="sku" visible$="{{hasSKU}}">{{sku}}</span>
					
				</td>
				<td class="price">{{priceDisplay}}</td>
				<td class="quantity"><input class="quantity" type="number" value$="{{quantity}}"></td>
				<td class="action"><button on-click="addToCart">{{label.addToCart}}</td>
			</tr>
		</table>
	</template>
</dom-module>

<script>
  Polymer({
	  	is: "respond-shelf-item",
	
	  	// element attributes
	  	properties: {
		  	productid: { type: String },
	  		sku: { type: String },
	  		name: { type: String },
	  		price: { type: String },
	  		shipping: { type: String },
	  		quantity: { type: Number }
	  	},
		
		// attached
		attached: function() {
		
			// default quantity
			this.quantity = 1;
		
			// set labels
			this.label = {
				  	addToCart: this.i18n('Add to Cart')
				  };
		
			// show shipping
			this.isShipped = false;
			
			if(this.shipping == 'shipped'){
				this.isShipped = true;
			}
			
			// show sku
			this.hasSKU = false;
			
			if(this.sku != ''){
				this.hasSKU = true;
			}
			
			// set currency
			this.currency = respond.site.settings.Currency;
			
			// common symbols
			var symbols = {
			    'USD': '$', // US Dollar
			    'EUR': '€', // Euro
			    'CRC': '₡', // Costa Rican Colón
			    'GBP': '£', // British Pound Sterling
			    'ILS': '₪', // Israeli New Sheqel
			    'INR': '₹', // Indian Rupee
			    'JPY': '¥', // Japanese Yen
			    'KRW': '₩', // South Korean Won
			    'NGN': '₦', // Nigerian Naira
			    'PHP': '₱', // Philippine Peso
			    'PLN': 'zł', // Polish Zloty
			    'PYG': '₲', // Paraguayan Guarani
			    'THB': '฿', // Thai Baht
			    'UAH': '₴', // Ukrainian Hryvnia
			    'VND': '₫', // Vietnamese Dong
			};
			
			// set mark
			if(symbols[this.currency] !== undefined) {
				this.mark = symbols[this.currency];
			}
			
			// set price display
			this.priceDisplay = this.mark + this.formatCurrency(this.price) + ' ' + this.currency;
			
		},
		
		// adds an item to the cart
		addToCart: function(){
		
			var cart = [];
		
			// get cart from session
			if(sessionStorage['respond-cart'] != null){
				var str = sessionStorage['respond-cart'];
			
				cart = eval(str);
			}
			
			// get quantity
			var q = parseInt(Polymer.dom(this.root).querySelector('input.quantity').value);
			
		  	// create item
			var item = {
				sku: this.sku,
				productid: this.productid,
				name: this.name,
				price: parseFloat(this.price),
				shipping: this.shipping,
				weight: parseFloat(this.weight),
				quantity: q
			};
			
			// has item
			var newItem = true;
			
			// walkthrough quantity
			for(x=0; x<cart.length; x++){
				
				// if it is a duplicate, increase the quantity
				if(cart[x].productid == item.productid){
					var quantity = parseInt(cart[x].quantity);
					cart[x].quantity = q + quantity;
					newItem = false;
				}
				
			}
			
			// push item to the cart
			if(newItem == true){
				cart.push(item);
			}
			
			// save cart to local storage
			var json = JSON.stringify(cart);
			sessionStorage['respond-cart'] = json;
			
			// fire cart-updated event
			this.fire('cart-updated');
		  
		},
		
		i18n: function(text){
			return respond.site.i18n(text);
		},
		
		formatCurrency: function(number){
		  return accounting.formatNumber(number, 2, ' ');
		}
	
	});
</script>