<dom-module id="respond-languages-toggle">

	<style>
		.toggle{
			display: none;
		}
		
			.toggle core-icon, .toggle core-icon svg{
				width: 25px;
			    height: 25px;
			  	margin: 0;
			  	padding: 0;
			  	line-height: 25px;
			  	display: inline-block;
			  	vertical-align: middle;
			}
		
			.toggle[visible]{
				display: block;
			}
    </style>

	<template>
	
		<a class="toggle" 
			visible$="{{showLanguages}}"
			on-click="toggleLanguages"><core-icon icon="language"></core-icon></a>
	
	</template>
</dom-module>

<script>
  Polymer({
	  	is: "respond-languages-toggle",
	
	  	// element attributes
	  	properties: {},
		
		// attached
		attached: function() {
		  	this.showLanguages = respond.site.settings.ShowLanguages;
		},
		
		// toggle languages
		toggleLanguages: function(){
		
			// fire language toggle
			this.fire('languages-toggled');
		  
		}
	
	});
</script>