<dom-module id="respond-search-toggle">

	<style>
		.toggle{
			display: none;
		}
		
			.toggle iron-icon, .toggle iron-icon svg{
				width: 25px;
			    height: 25px;
			  	margin: 0;
			  	padding: 0;
			  	line-height: 25px;
			  	display: inline-block;
			  	vertical-align: middle;
			}
		
			.toggle[visible]{
				display: block;
			}
    </style>

	<template>
	
		<a class="toggle" 
			visible$="{{showSearch}}"
			on-click="toggleSearch"><iron-icon icon="search"></iron-icon></a>
	
	</template>
</dom-module>

<script>
  Polymer({
	  	is: "respond-search-toggle",
	
	  	// element attributes
	  	properties: {},
		
		// attached
		attached: function() {
			this.showSearch = respond.site.settings.ShowSearch;		
		},
		
		// toggle search
		toggleSearch: function(){
		
			// fire search toggle
			this.fire('search-toggled');
		  
		}
	
	});
</script>