<dom-module id="respond-cart-toggle">

	<style>
		.toggle{
			display: none;
			position: relative;
		}
		
			.toggle svg{
				width: 25px ;
			    height: 25px;
			  	margin: 0;
			  	padding: 0;
			  	line-height: 25px;
			  	display: inline-block;
			  	vertical-align: middle;
			  	text-align: center;
			  	fill: currentColor;
			}
		
			.toggle[visible]{
				display: block;
			}
			
		.count{
			display: none;
			top: 4px;
			right: 4px;
			position: absolute;
			width: 20px;
			height: 20px;
			line-height: 20px;
			background-color: #33B5E5;
			color: #fff;
			border-radius: 50%;
			font-size: 12px;
			margin: 0;
			padding: 0;
		}
			
			.count[visible]{
				display: block;
			}
    </style>

	<template>
	
		<a class="toggle" 
			visible$="{{showCart}}"
			on-click="toggleCart">
				<svg viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet"><g><path d="M7 18c-1.1 0-1.99.9-1.99 2S5.9 22 7 22s2-.9 2-2-.9-2-2-2zM1 2v2h2l3.6 7.59-1.35 2.45c-.16.28-.25.61-.25.96 0 1.1.9 2 2 2h12v-2H7.42c-.14 0-.25-.11-.25-.25l.03-.12.9-1.63h7.45c.75 0 1.41-.41 1.75-1.03l3.58-6.49c.08-.14.12-.31.12-.48 0-.55-.45-1-1-1H5.21l-.94-2H1zm16 16c-1.1 0-1.99.9-1.99 2s.89 2 1.99 2 2-.9 2-2-.9-2-2-2z"></path></g></svg>
				<span class="count" visible$="{{showCount}}">{{count}}</span></a>
	
	</template>
</dom-module>

<script>
  Polymer({
	  	is: "respond-cart-toggle",
	
	  	// element attributes
	  	properties: {},
		
		// attached
		attached: function() {
		  	this.showCart = respond.site.settings.ShowCart;
		  	this.count = 0;
		  	this.showCount = false;
		  	
		  	// get length of cart from session
		  	if(sessionStorage['respond-cart'] != null){
				var str = sessionStorage['respond-cart'];
				this.cart = eval(str);
				
				// calculate a quantity
				var q = 0;
						
				for(x=0; x<this.cart.length; x++){
					q += parseInt(this.cart[x].quantity);
				}
				
				this.count = q;
			}
			
			// show count
			if(this.count > 0){
				this.showCount = true;
			}
		  	
		  	// set context
		  	var context = this;
		  	
		  	// wait for updated
			var items = document.querySelectorAll('respond-cart');
			
			for(x=0; x<items.length; x++){
			
				items[x].addEventListener('cart-updated', function(e) {
				
					// get length of cart from session
				  	if(sessionStorage['respond-cart'] != null){
						var str = sessionStorage['respond-cart'];
						context.cart = eval(str);
						
						// calculate a quantity
						var q = 0;
						
						for(x=0; x<context.cart.length; x++){
							q += parseInt(context.cart[x].quantity);
						}
						
						context.count = q;
					}
					
					// show count
					if(context.count > 0){
						context.showCount = true;
					}
					
				});
			
			}
		},
		
		// toggle cart
		toggleCart: function(){
		
			// fire cart toggle
			this.fire('cart-toggled');
		  
		}
	
	});
</script>