<dom-module id="respond-cart-toggle">

	<style>
		.toggle{
			display: none;
			position: relative;
		}
		
			.toggle core-icon, .toggle core-icon svg{
				width: 25px;
			    height: 25px;
			  	margin: 0;
			  	padding: 0;
			  	line-height: 25px;
			  	display: inline-block;
			  	vertical-align: middle;
			}
		
			.toggle[visible]{
				display: block;
			}
			
		.count{
			display: none;
			top: 4px;
			right: 4px;
			position: absolute;
			width: 20px;
			height: 20px;
			line-height: 20px;
			background-color: #33B5E5;
			color: #fff;
			border-radius: 50%;
			font-size: 12px;
			margin: 0;
			padding: 0;
		}
			
			.count[visible]{
				display: block;
			}
    </style>

	<template>
	
		<a class="toggle" 
			visible$="{{showCart}}"
			on-click="toggleCart"><core-icon icon="shopping-cart"></core-icon><span class="count" visible$="{{showCount}}">{{count}}</span></a>
	
	</template>
</dom-module>

<script>
  Polymer({
	  	is: "respond-cart-toggle",
	
	  	// element attributes
	  	properties: {},
		
		// attached
		attached: function() {
		  	this.showCart = respond.site.settings.ShowCart;
		  	this.count = 0;
		  	this.showCount = false;
		  	
		  	// get length of cart from session
		  	if(sessionStorage['respond-cart'] != null){
				var str = sessionStorage['respond-cart'];
				this.cart = eval(str);
				
				// calculate a quantity
				var q = 0;
						
				for(x=0; x<this.cart.length; x++){
					q += parseInt(this.cart[x].quantity);
				}
				
				this.count = q;
			}
			
			// show count
			if(this.count > 0){
				this.showCount = true;
			}
		  	
		  	// set context
		  	var context = this;
		  	
		  	// wait for updated
			var items = document.querySelectorAll('respond-cart');
			
			for(x=0; x<items.length; x++){
			
				items[x].addEventListener('cart-updated', function(e) {
				
					// get length of cart from session
				  	if(sessionStorage['respond-cart'] != null){
						var str = sessionStorage['respond-cart'];
						context.cart = eval(str);
						
						// calculate a quantity
						var q = 0;
						
						for(x=0; x<context.cart.length; x++){
							q += parseInt(context.cart[x].quantity);
						}
						
						context.count = q;
					}
					
					// show count
					if(context.count > 0){
						context.showCount = true;
					}
					
				});
			
			}
		},
		
		// toggle cart
		toggleCart: function(){
		
			// fire cart toggle
			this.fire('cart-toggled');
		  
		}
	
	});
</script>