<polymer-element name="respond-search" attributes="display">
  <template>
    <style>
		.search-toggle{
			float: right;
		  	width: 65px;
		  	height: 65px;
		  	line-height: 65px;
		  	text-align: center;
			cursor: pointer;
		}
		
			.search-toggle i{
				font-size: 15px;
			}
		
		.respond-search{
		  	position: fixed;
		  	top: 65px;
		  	left: 0;
		  	width: 100%;
		  	height: 300px;
		  	padding: 0;
		    text-transform: uppercase;
		  	z-index: 100;
		  	text-align: right;
		  	margin-top: -350px;
		  	z-index: 5;
		  	background-color: #f0f0f0;
		}
		
			.respond-search.active{
				margin-top: 0;
				transition: .35s all ease;
			}
		
		/* respond-search */
		.respond-search .search-container{
		  	position: relative;
		  	display: block;
		  	box-sizing: border-box;
		  	margin: 10px 10px 10px 10px;
		}
		
		.respond-search form{
			padding: 5px;
		  	background-color: config(--search-background-color);
		}
		
		.respond-search input{
			font-family: 'Open Sans', sans-serif;
		  	font-size: 15px;
			background-color: #fff;
		  	width: 100%;
		  	border: 1px solid #ddd;
		  	height: 40px;
		  	line-height: 40px;
		  	outline: none;
		  	text-indent: 10px;
		}
		
		.respond-search .search-container button{
			position: absolute;
		  	top: 0;
		  	right: 0;
		  	margin: 0;
		  	padding: 0 10px;
		  	background: none;
		  	border: none;
		  	color: #ccc;
		  	height: 40px;
		  	line-height: 40px;
		}
		
		.respond-search h4{
			font-size: 15px;
		  	line-height: auto;
		  	margin: 0;
		  	padding: 10px 10px 2px 10px;
		}
		
		.respond-search small{
			font-size: 11px;
		  	margin: 0;
		  	padding: 0 10px 2px 10px;
		  	text-transform: uppercase;
		}
		
		.respond-search p{
			font-size: 13px;
		  	line-height: 19px;
		  	margin: 0;
		  	padding: 0 10px 10px 10px;
		}
		
		.respond-search-results{
		  	max-height: 275px;
		  	overflow: auto;
		  	display: none;
		}
		
			.respond-search-results.active{
				display: block;
			}
		
		.respond-search ul{
			margin: 0;
		  	padding: 0;
		}
		
		.respond-search li{
		  	font-size: 13px;
		  	text-transform: uppercase;
		  	list-style: none;
		  	text-align: left;
		  	margin: 0;
		  	padding: 5px;
		}
		
		  .respond-search li:first-child{
		      border-top: none;
		  }
		
		.respond-search li p{
			overflow: hidden;
		  	text-overflow: ellipsis;
		  	margin-bottom: 0 !important;
		}
		
		.respond-search li.has-image a{
			min-height: 70px;
		}
		
		.respond-search li img{
			float: left;
		  	width: 50px;
		  	height: 50px;
		  	margin-right: 10px;
		  	margin-top: 5px;
		}
		
		.respond-search li.searching, 
		.respond-search li.no-results{
			padding: 10px 20px;
		    border-top: none;
		}
		
		.respond-search li.searching i{
			color: config(--search-text-color);
		}
		
		.respond-search li:last-child{
			border-bottom: none;
		}
		
		.respond-search li.no-results{
			display: none;
		}
		
		.respond-search li.no-results.active{
			display: block;
		}
		
		/* Small devices (tablets, 768px and up) */
		@media (max-width: 768px) {
		
		.respond-search .input-group{
			width: 100%;
		  	margin: 0;
		  	padding: 0;
		}
		    
		    .respond-search .form-control{
		        height: 28px;
		        width: calc(~"100% - 30px");
		    }
		
		}
		
		/* Medium devices (desktops, 992px and up) */
		@media (min-width: 992px) { 
		
		
		}
		
		/* Large devices (large desktops, 1200px and up) */
		@media (min-width: 1200px) { 
		
		}

    </style>

	<div class="respond-search {{ {active: display == 'visible'} | tokenList}}">
	
		<a class="close-search" title="Close Menu"><i class="fa fa-times"></i></a>
		
		<form class="respond-search-form" on-submit="{{search}}">
	      <div class="search-container">
	        <input id="searchText" type="text" class="form-control">
	        <button><core-icon icon="search"></core-icon></button>
	      </div>  
	    </form>  
		  
	  	<div class="respond-search-results {{ {active: showResults == true} | tokenList}}">
		  	
		  	<template if="{{loading == true}}">
				<paper-spinner active></paper-spinner>
			</template>
		  	
	  		<ul>
			  	
			<template repeat="{{result in results}}">
				<li>
					<h4><a href="/{{result.Url}}" data-i18next="{{result.PageId}}.name">{{result.Name}}</a></h4>
				  	<small><a href="/{{result.Url}}">{{result.Url}}</a></small>
				  	<p data-i18next="{{result.PageId}}.description">
				  		{{result.Description}}
				  	</p>
				</li>
			</template> 
			 	
			  	<li class="no-results {{ {active: noResults == true} | tokenList}}">No results found</li>
		  	</ul>
	  	</div>
	</div>

  </template>
  
  <script>
  Polymer('respond-search', {
	  
	  // defaults
	  results: [],
	  
	  display: 'hidden',
	  loading: false,
	  showResults: false,
	  noResults: false,
	  
	  // ready
	  ready: function() {
        
        
      },
      
      search: function(e, d, s){
	    
	    // get search and language  
	    this.text = this.$.searchText.value;
	    this.siteId = respond.site.settings.SiteId;
	    this.language = respond.site.settings.Language;
	    this.api = respond.site.settings.API;
	    this.loading = true;
	    this.showResults = true;
	    
	    // set params
		var params = {
			siteId: this.siteId,
			locale: this.language
		}
		
		var context = this;
		
		// post to API to get translation file (we will use this to search
		$.post(this.api + '/translation/retrieve', $.param(params), function(data){
			
			context.results = [];
			
			// set class for data
			for(x in data){
			
				// pages are stored in objects
				if(typeof(data[x]) == 'object'){
				
					// this is what will be returned
					var result = {
						PageId: x,
						Name: data[x]['name'],
						Url: data[x]['url'],
						Description: data[x]['description']
					}
					
					// walk through data[x]
					for(y in data[x]){
					
						var text = data[x][y].toLowerCase();
					
						// searh for the term
						if(text.search(new RegExp(context.text.toLowerCase(), 'i')) != -1){
							
							// push found pages
							context.results.push(result);
							
							break;
								
						}
		
					}
					
				}
				
			}
			
			// set noResults
			if(context.results.length == 0){
				context.noResults = true;
			}
			else{
				context.noResults = false;
			}
			
			
			// set loading
			context.loading = false;
			
		});
	    
	    e.preventDefault();
	    return false;
	    
      }
	
  });
  </script>
</polymer-element>