<dom-module id="respond-fetch">
  <template>
  	<content></content>
  </template>
</dom-module>

<script>
  Polymer({
	  	is: "respond-fetch",
	
	  	// element attributes
	  	properties: {
	  		url: { type: String },
	  		fetchid: { type: String },
	  		cssclass: { type: String }
		},
		
		// attached
		attached: function() {
			
			var context = this;
			
			// xhr
			var xhr = new XMLHttpRequest();
			xhr.open('GET', encodeURI(this.url));
			
			xhr.onload = function() {
			    if (xhr.status === 200) {
			    
			    	var data = xhr.responseText;
			    	
					// place returned HTML into a node
					var div = document.createElement('div');
					
					if(this.fetchid != '' && this.fetchid != undefined){
						div.setAttribute('id', this.fetchid);
					}
					
					if(this.cssclass != '' && this.cssclass != undefined){
						div.setAttribute('class', this.cssclass);
					}
					
					div.innerHTML = data;
					
					// apply to light dom
					Polymer.dom(context).appendChild(div);
					
			    }
			    else {
			        console.log('[respond.error] respond-fetch component: failed post, xhr.status='+xhr.status);
			    }
			};
			xhr.send(); 
		
		}
	
	});
</script>