<polymer-element name="respond-list-blog" attributes="id type pagesize orderby pageresults">
  
  	<template>
	  <style>
		 	.list-actions{
				margin: 0 0 25px 0;
			  	padding: 0;
			  	vertical-align: top;
			}
			
			.list-actions .pager{
			  	margin: 0 15px 0 0;
			  	padding: 0;
				display: inline-block;
			}
			
			.list-actions button{
			  	font-size: 14px;
			  	display: inline-block;
			    box-sizing: border-box;
			  	background-color: #fff;
			  	border: 1px solid #ddd;
			  	padding: 0 15px;
			  	font-size: 16px;
			    height: 45px;
			    line-height: 45px;
			    vertical-align: top;
			    outline: none;
			}
			
			.list-actions a{
			  	display: inline-block;
			    box-sizing: border-box;
			    text-decoration: none;
				background-color: #fff;
			  	border: 1px solid #ddd;
			  	padding: 0 15px;
			  	margin: 0 1px;
			  	font-size: 16px;
			    cursor: pointer;
			    height: 45px;
			    line-height: 45px;
			    vertical-align: top;
			}
			
			.list-actions a.active{
				background-color: #f0f0f0;
			}
			
			paper-spinner{
				vertical-align: top;
				margin-top: 7px;
				margin-left: 7px;
			}
			
			paper-spinner::shadow .circle {
		        border-color: #4285f4;
		    }
	  </style>
	  
  	<div id="container">
  		<content id="content"></content>
  	</div>
  	
  	<template if="{{showPrevious == true || showNext == true}}">
		<div class="list-actions">
		
		<span class="pager">	
		<template repeat="{{page in pager}}">
			<a class="{{ {active: current == (page.title - 1) } | tokenList}}"
				on-click="{{gotoPage}}">{{page.title}}</a>
		</template>	
		</span>	
			
		<template if="{{showPrevious == true}}">
			<button on-click="{{previous}}">{{label.previous | i18n}}</button>	
		</template>
		
		<template if="{{showNext == true}}">
			<button on-click="{{next}}">{{label.next | i18n}}</button>	
		</template>
		
		<template if="{{loading == true}}">
			<paper-spinner active></paper-spinner>
		</template>
		
		</div>
	</template>

  </template>
  
  <script>

  Polymer('respond-list-blog', {
	  
	label:{
		next: 'Next',
		previous: 'Previous'
	},
	
	count: 0,
	numberOfPages: 1,
	showNext: false,
	showPrevious: false,
	loading: false,
	pager: [],

	// ready
	ready: function() {
		
		// get page information
		this.pageId = document.body.getAttribute('page');
		this.siteId = respond.site.settings.SiteId;
		this.api = respond.site.settings.API;
		this.images = respond.site.settings.ImagesUrl;
		this.pageResults = (this.pageresults === 'true');
		this.current = 0;
		
		// set params
		this.params = {
			siteId: this.siteId,
			type: this.type,
			pagesize: this.pagesize,
			current: this.current,
			orderby: this.orderby
		}
		
		// get the pages
		this.getPages(this.current);
		
		// set context
		var context = this;
		
		// set params
		var params2 = {
			siteId: this.siteId,
			type: this.type
		}
		
		// post to API to get the count of pages
		$.post(this.api + '/page/published/count', $.param(params2), function(data){
			
			context.count = data.count;
			context.numberOfPages = Math.ceil(data.count / context.pagesize);
			
			// show/hide buttons
			context.showPreviousNext();
			
			// build pager
			for(x = 0; x < (context.count-1); x++){
				context.pager.push({'title': (x+1)});
			}
			
		});
	
	},
	
	// gets a list of pages
	getPages:function(current){
		
		this.current = current;
		this.params.current = current;
		
		// set loading
		this.loading = true;
		
		var context = this;
		
		// show/hide buttons
		context.showPreviousNext();
		
		// reset innerhtml
		context.innerHTML = '';
		
		// post to API
		$.post(this.api + '/page/published/list', $.param(this.params), function(data){
			
			console.log(data);
			
			// for each page, add content components to the Light DOM 
			for(x=0; x<data.length; x++){
				context.innerHTML += '<div class="blog-post"><respond-content url="' + data[x].Url + '"></respond-content>' +
									  '<respond-meta photo="' + data[x].Photo + '"  first="' + data[x].FirstName + '" last="' + data[x].LastName + '" date="' + data[x].LastModified + '" url="' + respond.site.settings.Domain +  '/' + data[x].Url + '" ></respond-meta></div>';
			}
	
			// set loading
			context.loading = false;
			
		});
		
	},
	
	// previous event handler
	previous:function(){
		this.getPages(this.current-1);
	},
	
	// previous event handler
	next:function(){
		this.getPages(this.current+1);
	},
	
	// previous event handler
	gotoPage:function(e, detail, sender){
		
		var index = e.target.templateInstance.model.page.title;
		
		this.getPages(index-1);
	},
	
	// show previous and next buttons
	showPreviousNext:function(){
		
		// set next and previous
		if(this.pageResults == true){
			
			// set showNext
			if(this.current < (this.numberOfPages - 1)){
				this.showNext = true;
			}
			else{
				this.showNext = false;
			}
			
			// set showPrevious
			if(this.current != 0){
				this.showPrevious = true;
			}
			else{
				this.showPrevious = false;
			}
			
		}
	},
      
	i18n: function(text){
	  return respond.site.i18n(text);
	}
    
  });
  </script>
</polymer-element>