<polymer-element name="respond-menu" attributes="menuid class type">
  <template>
  	<content></content>
  </template>
  
  <script>

  Polymer('respond-menu', {

	// ready
	ready: function() {
		
		var context = this;
		
		// xhr
		var xhr = new XMLHttpRequest();
		xhr.open('GET', encodeURI('data/menu-' + this.type + '.json'));
		
		xhr.onload = function() {
		    if (xhr.status === 200) {
		    
		    	var data = JSON.parse(xhr.responseText);
				var pageId = document.body.getAttribute('page');
				var menu = '<ul ' + 
								( context.className ? 'id="' + context.menuid + '"' : '') +
								( context.className ? 'class="' + context.className + '"' : '') +
								'>';
				
				var flagActive = false;
				var flagParent = false;
				
				for(x=0; x<data.length; x++) {				
					var item = data[x];
					
					if(data[x+1] != undefined) {
						if (data[x+1].IsNested == 1) 	flagParent = true;		
					}
					if (item.PageId == pageId) 		flagActive = true;
					
					if (!flagParent) {
						menu += '<li ' + ( flagActive ? 'class="active"' : '' ) + '>' +
									'<a href="' + item.Url + '">' + item.Name + '</a>' +
								'</li>';
					} else {
						var nestedMenu = '';

						for (y=x+1; y<data.length; y++) {
							var flagNestedActive = false;
							x=y;
							var nestedItem = data[y];
							
							if (nestedItem.PageId == pageId) {
								flagNestedActive = true;
								flagActive = true;
							}

							nestedMenu += 	'<li ' + ( flagNestedActive ? 'class="active"' : '' ) + '>' +
										  		'<a href="' + nestedItem.Url + '">' + nestedItem.Name + '</a>' +
											'</li>';							
							
							if(data[y+1] != undefined) {
								if (data[y+1].IsNested != 1) break;	
							}
							
							flagNestedActive = false;
						}

						menu += '<li class="dropdown ' + ( flagActive ? 'active' : '' ) + '">' +
									'<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">' + item.Name +' <span class="caret"></span></a>' +
									'<ul class="dropdown-menu">' +
										nestedMenu +
									'</ul>' +					
								'</li>';						
						
					}
					 
					flagActive = false;
					flagParent = false;						
				}
				
				menu += '</ul>';
				
				context.innerHTML = menu;
				
		    }
		    else {
		        console.log('[respond.error] respond-menu component: failed post, xhr.status='+xhr.status);
		    }
		};
		
		xhr.send(); 
		
	}
    
  });
  </script>
</polymer-element>
