<dom-module id="respond-slideshow">
	<style>
	
		.carousel{
			margin-bottom: 25px;
		}
	
		/* support for fade */
		.carousel.fade {
			opacity: 1;
		}
		
		.carousel.fade .item {
		    -moz-transition: opacity ease-in-out .7s;
		    -o-transition: opacity ease-in-out .7s;
		    -webkit-transition: opacity ease-in-out .7s;
		    transition: opacity ease-in-out .7s;
		    left: 0;
		    opacity: 0;
		    top:0;
		    position:absolute;
		    display:block;
		    z-index:1;
		}
		
		.carousel.fade .item:first-child {
		    top:auto;
		    position:relative;
		}
		
		.carousel.fade .item.active {
		    opacity: 1;
		    -moz-transition: opacity ease-in-out .7s;
		    -o-transition: opacity ease-in-out .7s;
		    -webkit-transition: opacity ease-in-out .7s;
		    transition: opacity ease-in-out .7s;
		    z-index:2;
		}
		
		.carousel.fade .left, body .carousel.fade .right{
			z-index: 10;
		}
	
		/* carousel control */
		.carousel-control{
			display: none;
		}
		
			.carousel-control[visible]{
				display: inline-block;
			}
		
			.carousel-control svg{
				position: absolute;
				top: 50%;
				color: #fff;
			}
			
				.carousel-control.left svg{
					left: 15px;
				}
				
				.carousel-control.right svg{
					right: 15px;
				}
			
			.carousel-control svg{
				width: 40px;
				height: 40px;
			  	margin: 0;
			  	padding: 0;
			  	line-height: 40px;
			  	display: inline-block;
			  	vertical-align: middle;
			  	fill: currentColor;
			}
		
		/* indicators */
		.carousel-indicators{
			display: none;	
			bottom: 10px;
			margin-bottom: 0;
			padding-bottom: 0;
		}
		
			.carousel-indicators[visible]{
				display: inline-block;
			}
		
			.carousel-indicators li{
				margin: 0 2.5px;
			}
			
		/* caption */
		.carousel-caption{
			bottom: 40px;
			padding: 10px;
			background-color: rgba(255,255,255,.8);
		}
		
			.carousel-caption h1{
				font-size: 22px;
				font-weight: bold;
			}
			
			.carousel-caption p{
				font-size: 14px;
			}
		
			.carousel-caption h1, .carousel-caption p{
				margin: 0 0 10px 0;
				padding: 0;
				line-height: auto;
				text-shadow: none;
			}
			
			.carousel-caption p:last-child{
				margin-bottom: 0;
			}
		
		
	</style>

	<template>
		
		<div id$="{{fullid}}" class$="{{cssClass}}" data-interval$="{{interval}}" data-pause$="{{pause}}" data-wrap$="{{wrap}}" data-ride="carousel">
			
			<ol id="indicatorsList" 
				class="carousel-indicators" 
				visible$="{{showIndicators}}"></ol>
			<!-- /.carousel-indicators -->
			
			<div id="slidesList" class="carousel-inner" role="listbox"></div>
			<!-- /.carousel-inner -->
			
			<a class="left carousel-control" href$="{{targetid}}" role="button" data-slide="prev" 
				visible$="{{showArrows}}">
				<svg viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet"><g><path d="M15.41 7.41L14 6l-6 6 6 6 1.41-1.41L10.83 12z"/></g></svg>
			</a>
			<a class="right carousel-control" href$="{{targetid}}" role="button" data-slide="next"
				visible$="{{showArrows}}">
				<svg viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet"><g><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></g></svg>
			</a>
			<!-- /.carousel-control -->
			
		</div>
		<!-- /.carousel -->
		
		
	</template>
</dom-module>

<script>
  Polymer({
	  	is: "respond-slideshow",
	
	  	// element attributes
	  	properties: {
	  		slideshowid: { type: String },
	  		indicators: { type: String },
	  		arrows: { type: String },
	  		interval: { type: String },
	  		wrap: { type: String },
	  		pauseonhover: { type: String },
	  		transition: { type: String },
	  		position: { type: String }
		},
		
		// attached
		attached: function() {
		
			var id = this.slideshowid;
			
			// set hashid
			this.fullid = 'carousel-' + this.slideshowid;
			this.targetid = '#carousel-' + this.slideshowid;
			this.cssClass = 'carousel ' + this.transition;
			
			// set toggles
			this.showIndicators = false;
			this.showArrows = false;
			
			// set pause
			this.pause = '';
			
			if(this.pauseonhover == 'true' && this.pauseonhover != undefined){
				this.pause = 'hover';
			}
			
			// set indicators and arrows
			if(this.indicators == 'true' && this.indicators != undefined){
				this.showIndicators = true;
			}
			
			if(this.arrows == 'true' && this.arrows != undefined){
				this.showArrows = true;
			}
			
			// get images
			var images = Polymer.dom(this).querySelectorAll('img');
			
			for(x=0; x<images.length; x++){
			
				// set active
				var active = '';
			
				if(x==0){
					active = ' active';
				}
				
				// get caption
				var headline = images[x].getAttribute('data-headline') || '';
				var caption = images[x].getAttribute('data-caption') || '';
				var button = images[x].getAttribute('data-button') || '';
				var link = images[x].getAttribute('data-link') || '';
				var cssclass = images[x].getAttribute('class') || '';
				
				// create an slide
				var slide = document.createElement('div');
				
				// image can either be a background image or a default image
				if(this.position == 'default'){
					slide.setAttribute('class', 'item ' + cssclass + active);
					
					// create an image for the slide
					var image = document.createElement('img');
					image.setAttribute('src', images[x].src);
					
					// attach image
					Polymer.dom(slide).appendChild(image);
				}
				else{
					slide.setAttribute('class', 'item ' + cssclass + active);
					
					// set background image
					slide.setAttribute('style', 'background-image: url(' + images[x].src + ')');
				}
				
				// create a caption
				var container = document.createElement('div');
				container.setAttribute('class', 'container');
				
				// default text
				var text = '';
				
				// create caption
				if(headline != '' || caption != '' || button != ''){ 
					var text = '<div class="carousel-caption">';
					
					if(headline != ''){
						text += '<h1>' + headline + '</h1>';
					}
					
					if(caption != ''){
						text += '<p>' + caption + '</p>';
					}
					
					if(button != ''){
						text += '<p><a class="btn btn-lg btn-default" href="' + link + '">' + button + '</a></p>';
					}
					
					text += '</div>';
				}
				
				container.innerHTML = text;
				
				// attach container to slide
				Polymer.dom(slide).appendChild(container);
				
				// append slide to inner
				Polymer.dom(this.$.slidesList).appendChild(slide);
				
				// create indicator
				var indicator = document.createElement('li');
				indicator.setAttribute('data-target', '#carousel-' + this.slideshowid);
				indicator.setAttribute('data-slide-to', x);
				indicator.setAttribute('class', active);
				
				Polymer.dom(this.$.indicatorsList).appendChild(indicator);
				
			}
		
		},
		
		i18n: function(text){
		  	return respond.site.i18n(text);
		}
	
	});
</script>