<polymer-element name="respond-content" attributes="url">
  <template>
  	<content></content>
  </template>
  
  <script>

  Polymer('respond-content', {

	// ready
	ready: function() {
		
		var url = this.url.replace('/', '.');
		var context = this;
		
		// xhr
		var xhr = new XMLHttpRequest();
		xhr.open('GET', encodeURI('templates/page/' + url + '.html'));
		
		xhr.onload = function() {
		    if (xhr.status === 200) {
		    
		    	var data = xhr.responseText;
		    
		        // replace imagesURL with url
				data = respond.site.replaceAll(data, '{{site.ImagesUrl}}', respond.site.settings.ImagesUrl);
				data = respond.site.replaceAll(data, '{{site.ImagesURL}}', respond.site.settings.ImagesUrl);
			
				// update light DOM with HTML from request
				context.innerHTML = data;
				
		    }
		    else {
		        console.log('[respond.error] respond-form component: failed post, xhr.status='+xhr.status);
		    }
		};
		xhr.send(); 
	
	}
    
  });
  </script>
</polymer-element>