<dom-module id="respond-share">
	<style>
		.respond-share{
			margin-bottom: 25px;
		}
		
		.respond-share span{
			display: none;
			vertical-align: top;
			margin-right: 10px;
		}
		
		.respond-share span[visible]{
			display: inline-block;
		}
		
	</style>

	<template>
		
		<div class="respond-share">
			
			<span class="share-facebook" visible$="{{fbshow}}">
				
				<div class="fb-like" data-href$="{{url}}" 
					data-layout$="{{fblayout}}" 
					data-action$="{{fbaction}}" 
					data-show-faces="true" 
					data-share="true"></div>
					
			</span>
			<!-- /.share-facebook -->
			
			<span class="share-twitter" visible$="{{twshow}}">
			
				<a href="https://twitter.com/share" class="twitter-share-button" data-via="{{twvia}}" data-hashtags$="{{twhash}}">Tweet</a>
				
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
			
			</span>
			<!-- /.share-twitter -->
			
			<span class="share-pinterest" visible$="{{pinshow}}">
			
				<a href="//www.pinterest.com/pin/create/button/" data-pin-do="buttonBookmark"  data-pin-color="red"><img src="//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_red_20.png" /></a>
<!-- Please call pinit.js only once per page -->
<script type="text/javascript" async defer src="//assets.pinterest.com/js/pinit.js"></script>
			
			</span>
			<!-- /.share-pinterest -->
			
		</div>
		<!-- /.respond-share -->
		
	</template>
</dom-module>

<script>
  Polymer({
	  	is: "respond-share",
	
	  	// element attributes
	  	properties: {
	  		shareid: { type: String },
	  		cssclass: { type: String },
	  		fbshow: { type: String },
	  		fblayout: { type: String },
	  		fbaction: { type: String },
	  		twshow: { type: String },
	  		twvia: { type: String },
	  		twhash: { type: String },
	  		pinshow: { type: String }
		},
		
		// attached
		attached: function() {
			
			this.fbshow = (this.fbshow === 'true');
			this.twshow = (this.twshow === 'true');
			this.pinshow = (this.pinshow === 'true');
		
			// set url
			this.url = window.location.href;	
				
		},
		
		i18n: function(text){
		  	return respond.site.i18n(text);
		}
	
	});
</script>