<polymer-element name="respond-video" attributes="videoid class">
  <template>
  	
  	<content></content>
  	
  </template>
  
  <script>

  Polymer('respond-video', {

	// ready
	ready: function() {
		
		var container = '<div';
		
		// set id
		if(this.videoid != '' && this.videoid != undefined){
			container += ' id="' + this.videoid + '"';
		}
		
		container += 'class="video-container';
		
		// set class
		if(this.className != '' && this.className != undefined){
			container += ' ' + this.className;
		}
		
		container += '">' + this.innerHTML + '</div>';
		
		this.innerHTML = container;
		
	}
	
  });
  </script>
</polymer-element>