<dom-module id="respond-slideshow">
	<style>
	
		.carousel{
			margin-bottom: 25px;
		}
	
		/* support for fade */
		.carousel.fade {
			opacity: 1;
		}
		
		.carousel.fade .item {
		    -moz-transition: opacity ease-in-out .7s;
		    -o-transition: opacity ease-in-out .7s;
		    -webkit-transition: opacity ease-in-out .7s;
		    transition: opacity ease-in-out .7s;
		    left: 0;
		    opacity: 0;
		    top:0;
		    position:absolute;
		    display:block;
		    z-index:1;
		}
		
		.carousel.fade .item:first-child {
		    top:auto;
		    position:relative;
		}
		
		.carousel.fade .item.active {
		    opacity: 1;
		    -moz-transition: opacity ease-in-out .7s;
		    -o-transition: opacity ease-in-out .7s;
		    -webkit-transition: opacity ease-in-out .7s;
		    transition: opacity ease-in-out .7s;
		    z-index:2;
		}
		
		.carousel.fade .left, body .carousel.fade .right{
			z-index: 10;
		}
	
		/* carousel control */
		.carousel-control core-icon{
			position: absolute;
			top: 50%;
			color: #fff;
			width: 40px;
			height: 40px;
		}
		
		/* indicators */
		.carousel-indicators li{
			margin: 0 2.5px;
		}
		
		
	</style>

	<template>
		<content id="content"></content>
	</template>
</dom-module>

<script>
  Polymer({
	  	is: "respond-slideshow",
	
	  	// element attributes
	  	properties: {
	  		slideshowid: { type: String },
	  		indicators: { type: String },
	  		arrows: { type: String },
	  		interval: { type: String },
	  		wrap: { type: String },
	  		pauseonhover: { type: String },
	  		transition: { type: String },
	  		position: { type: String }
		},
		
		// attached
		attached: function() {
		
			var id = this.slideshowid;
			
			// create indicators
			var indicators = document.createElement('ol');
			indicators.setAttribute('class', 'carousel-indicators');
			
			// create inner
			var inner = document.createElement('div');
			inner.setAttribute('class', 'carousel-inner');
			inner.setAttribute('role', 'listbox');
			
			// get images
			var images = Polymer.dom(this).querySelectorAll('img');
			
			for(x=0; x<images.length; x++){
			
				// set active
				var active = '';
			
				if(x==0){
					active = ' active';
				}
				
				// get caption
				var headline = images[x].getAttribute('data-headline') || '';
				var caption = images[x].getAttribute('data-caption') || '';
				var button = images[x].getAttribute('data-button') || '';
				var link = images[x].getAttribute('data-link') || '';
				var cssclass = images[x].getAttribute('class') || '';
				
				// create an slide
				var slide = document.createElement('div');
				
				// image can either be a background image or a default image
				if(this.position == 'default'){
					slide.setAttribute('class', 'item ' + cssclass + active);
					
					// create an image for the slide
					var image = document.createElement('img');
					image.setAttribute('src', images[x].src);
					
					// attach image
					Polymer.dom(slide).appendChild(image);
				}
				else{
					slide.setAttribute('class', 'item ' + cssclass + active);
					
					// set background image
					slide.setAttribute('style', 'background-image: url(' + images[x].src + ')');
					
				}
				
				// create a caption
				var container = document.createElement('div');
				container.setAttribute('class', 'container');
				
				// create caption
				var text = '<div class="carousel-caption">';
				
				if(headline != ''){
					text += '<h1>' + headline + '</h1>';
				}
				
				if(caption != ''){
					text += '<p>' + caption + '</p>';
				}
				
				if(button != ''){
					text += '<p><a class="btn btn-lg btn-default" href="' + link + '">' + button + '</a></p>';
				}
				
				text += '</div>';
				
				container.innerHTML = text;
				
				// attach container to slide
				Polymer.dom(slide).appendChild(container);
				
				// append slide to inner
				Polymer.dom(inner).appendChild(slide);
				
				// create indicator
				var indicator = document.createElement('li');
				indicator.setAttribute('data-target', '#carousel-' + this.slideshowid);
				indicator.setAttribute('data-slide-to', x);
				indicator.setAttribute('class', active);
				
				Polymer.dom(indicators).appendChild(indicator);
				
			}
			
			// create carousel		
			var carousel = document.createElement('div');
			carousel.setAttribute('id', 'carousel-' + this.slideshowid);
			carousel.setAttribute('class', 'carousel ' + this.transition);		
			carousel.setAttribute('data-ride', 'carousel');
			
			// attach indicators
			if(Boolean(this.indicators) == true){
				Polymer.dom(carousel).appendChild(indicators);
			}
			
			// attach slides
			Polymer.dom(carousel).appendChild(inner);
		
			// create previous arrow
			var prev = document.createElement('a');
			prev.setAttribute('class', 'left carousel-control');
			prev.setAttribute('href', '#carousel-' + this.slideshowid);
			prev.setAttribute('role', 'button');
			prev.setAttribute('data-slide', 'prev');
			
			// create icon
			var left = document.createElement('core-icon');
			left.setAttribute('icon', 'chevron-left');
			
			// append left
			Polymer.dom(prev).appendChild(left);
			
			// create next arrow
			var next = document.createElement('a');
			next.setAttribute('class', 'right carousel-control');
			next.setAttribute('href', '#carousel-' + this.slideshowid);
			next.setAttribute('role', 'button');
			next.setAttribute('data-slide', 'next');
			
			// create icon
			var right = document.createElement('core-icon');
			right.setAttribute('icon', 'chevron-right');
			
			// append left
			Polymer.dom(next).appendChild(right);
			
			// attach arrows
			if(Boolean(this.arrows) == true){
				Polymer.dom(carousel).appendChild(prev);
				Polymer.dom(carousel).appendChild(next);
			}
			
			// remove all children
			var children = Polymer.dom(this).childNodes;
			
			while(children[0]){
				Polymer.dom(this).removeChild(children[0]);
			}
			
			// append carousel
			Polymer.dom(this).appendChild(carousel);
		
		},
		
		i18n: function(text){
		  	return respond.site.i18n(text);
		}
	
	});
</script>