<dom-module id="respond-search">

	<style>
		
		.respond-search-container{
		  	position: fixed;
		  	top: 0;
		  	left: 0;
		  	width: 100%;
		  	padding: 0;
		  	z-index: 100;
		  	text-align: left;
		  	margin-top: -400px;
		  	z-index: 5;
		  	background-color: #fff;
		  	z-index: 10000;
			transition: .35s all ease;
			box-shadow: 1px 2px 3px rgba(119,119,119,0.25);
		}
		
			.respond-search-container[visible]{
				margin-top: 0;
			}
			
			
			.respond-search-container svg{
				width: 25px;
			    height: 25px;
			  	margin: 0;
			  	padding: 0;
			  	line-height: 25px;
			  	display: inline-block;
			  	vertical-align: middle;
			  	fill: currentColor;
			}
			
		/* close search */
		.respond-search-container .close-search{
			height: 40px;
			width: 40px;
			text-align: center;
			color: #ccc;
			position: absolute;
			top: 15px;
			right: 10px;
		  	background: none;
		  	border: none;
		  	outline: none;
		  	z-index: 10;
		}
		
		/* close search */
		.respond-search-container .search-loading{
			text-align: center;
			position: absolute;
			top: 15px;
			right: 100px;
		  	background: none;
		  	border: none;
		  	outline: none;
		  	z-index: 10;
		  	display: none;
		  	color: #888;
			vertical-align: top;
			width: 25px;
			height: 25px;
			margin-top: 8px;
			margin-right: 5px;
		}
		
			.respond-search-container .search-loading[visible]{
				display: block;
			}
			
			.respond-search-container .search-loading svg{
				display: block;
				vertical-align: top;
				width: 25px;
			    height: 25px;
			  	margin: 0;
			  	padding: 0;
			  	line-height: 25px;
			  	display: inline-block;
			  	vertical-align: middle;
			  	text-align: center;
			  	fill: currentColor;
			}
		
		/* respond-search */
		.respond-search-container .search-container{
		  	position: relative;
		  	display: block;
		  	box-sizing: border-box;
		  	margin: 10px 10px 10px 10px;
		}
		
		.respond-search-container form{
			padding: 5px;
		  	background-color: #fff;
		    border-bottom: 1px solid #ddd;
		}
		
		.respond-search-container input{
			font-family: 'Open Sans', sans-serif;
		  	font-size: 15px;
			background-color: #fff;
		  	width: calc(100% - 50px);
		  	border: 1px solid #ddd;
		  	height: 40px !important;
		  	line-height: 40px;
		  	outline: none;
		  	text-indent: 10px;
		}
		
		.respond-search-container .search-container button.search{
			position: absolute;
		  	top: 0;
		  	right: 50px;
		  	margin: 0;
		  	padding: 0 10px;
		  	background: none;
		  	border: none;
		  	color: #ccc;
		  	height: 40px;
		  	line-height: 40px;
		  	outline: none;
		}
		
		.respond-search-container h4{
			font-size: 15px;
		  	line-height: auto;
		  	margin: 0;
		  	padding: 10px 10px 2px 10px;
		}
		
		.respond-search-container small{
			font-size: 11px;
		  	margin: 0;
		  	padding: 0 10px 2px 10px;
		}
		
		.respond-search-container p{
			font-size: 13px;
		  	line-height: 19px;
		  	margin: 0;
		  	padding: 0 10px 10px 10px;
		}
		
		.respond-search-container-results{
		  	max-height: 275px;
		  	overflow: auto;
		  	display: none;
		}
		
			.respond-search-container-results[visible]{
				display: block;
			}
		
		.respond-search-container ul{
			margin: 0;
		  	padding: 0;
		}
		
		.respond-search-container li{
		  	font-size: 13px;
		  	list-style: none;
		  	text-align: left;
		  	margin: 0;
		  	padding: 5px;
		  	border-bottom: 1px solid #ddd;
		}
		
		.respond-search-container li p{
			overflow: hidden;
		  	text-overflow: ellipsis;
		  	margin-bottom: 0 !important;
		}
		
		.respond-search-container li.has-image a{
			min-height: 70px;
		}
		
		.respond-search-container li img{
			float: left;
		  	width: 50px;
		  	height: 50px;
		  	margin-right: 10px;
		  	margin-top: 5px;
		}
		
		.respond-search-container li.searching, 
		.respond-search-container li.no-results{
			padding: 10px 20px;
		    border-top: none;
		}
		
		.respond-search-container li.searching i{
			color: config(--search-text-color);
		}
		
		.respond-search-container li:last-child{
			border-bottom: none;
		}
		
		.respond-search-container li.no-results{
			display: none;
		}
		
		.respond-search-container li.no-results[visible]{
			display: block;
		}
		
		/* rtl */
		.respond-search-container[dir="rtl"] .search-container button.search{
			right: auto;
			left: 50px;
		}
		
		.respond-search-container[dir="rtl"] .close-search{
			right: auto;
			left: 10px;
		}
		
		.respond-search-container[dir="rtl"] .search-container input{
			margin-left: 50px;
		}

    </style>

	<template>
	
		<div class="respond-search-container" visible$="{{showSearch}}" dir$="{{dir}}">
	
			<button class="close-search" on-click="close"><svg viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet"><g><path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"></path></g></svg></button>
			
			<span class="search-loading" visible$="loading">
				<!-- ack: https://github.com/jxnblk/loading --> 
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><g><path opacity=".25" d="M16 0 A16 16 0 0 0 16 32 A16 16 0 0 0 16 0 M16 4 A12 12 0 0 1 16 28 A12 12 0 0 1 16 4"/><path d="M16 0 A16 16 0 0 1 32 16 L28 16 A12 12 0 0 0 16 4z"><animateTransform attributeName="transform" type="rotate" from="0 16 16" to="360 16 16" dur="0.8s" repeatCount="indefinite" /></path></g></svg>
			</span>
			
			<form class="respond-search-form" on-submit="search">
		      <div class="search-container">
		        <input id="searchText" type="text" autocomplete="off">
		        <button class="search"><svg viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet"><g><path d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"></path></g></svg></button>
		      </div>  
		    </form>  
			  
		  	<div class="respond-search-results" visible$="{{showResults}}">
			  	
		  		<ul>
				
				<template id="resultsList" is="dom-repeat" items="{{results}}">  	
					<li>
						<h4><a href="{{item.Url}}">{{item.Name}}</a></h4>
					  	<small><a href="{{item.Url}}">{{item.Url}}</a></small>
					  	<p>{{item.Description}}</p>
					</li>
				</template> 
				 	
				  	<li class="no-results" visible$="{{showNoResults}}">{{label.noResults}}</li>
			  	</ul>
		  	</div>
		</div>
	
	</template>
</dom-module>

<script>
  Polymer({
	  	is: "respond-search",
	
	  	// element attributes
	  	properties: {},
		
		// attached
		attached: function() {
			
			// set labels
			this.label = {
				noResults: this.i18n('No results found')
			};
			
			// initialize
			this.results = [];
			this.showSearch = false;
			this.showResults = false;
			this.showNoResults = false;
			this.loading = false;
			
			// set direction
			this.dir = respond.site.settings.Direction;
			
			if(sessionStorage['respond-direction'] != null){
				this.dir = sessionStorage['respond-direction'];
			}
			
			// set context
			var context = this;
			
			// wait for toggle event
		  	var items = document.querySelectorAll('respond-search-toggle');
			
		  	for(x=0; x<items.length; x++){
			
				// toggle search
				items[x].addEventListener('search-toggled', function(e) {
			
					if(context.showSearch == true){
						context.close();
					}
					else{
						context.open();
					}
				});
				  
			}
		},
		
		// opens the search
		open: function(){
		
			this.showSearch = true;
			this.results = [];
			this.showResults = false;
			this.$.searchText.value = '';
			this.showNoResults = false;
			respond.site.searchVisible = false;
			
		},
		
		// closes the search
		close: function(){
		
			this.showSearch = false;
			this.results = [];
			this.showResults = false;
			this.$.searchText.value = '';
			this.showNoResults = false;
			respond.site.searchVisible = false;
			
		  
		},
		
		// performs a search
		search: function(e, d, s){
		
			// get search and language  
			this.text = this.$.searchText.value;
			this.siteId = respond.site.settings.SiteId;
			this.language = respond.site.settings.Language;
			this.api = respond.site.settings.API;
			this.loading = true;
			this.showResults = true;
			
			// set params
			var params = {
				siteId: this.siteId,
				locale: this.language
			}
			
			var context = this;
			
			// submit form
			var xhr = new XMLHttpRequest();
			
			// set URI
			var uri = this.api + '/translation/retrieve';
			
			xhr.open('POST', encodeURI(uri));
			xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
			xhr.onload = function() {
			    if(xhr.status === 200){
				    
			    	context.results = [];
				
					var data = JSON.parse(xhr.responseText);
					
					// set class for data
					for(x in data){
					
						// pages are stored in objects
						if(typeof(data[x]) == 'object'){
						
							var includeOnly = false;
						
							// set include only
							if(data[x]['includeOnly'] != undefined && data[x]['includeOnly'] != null){
								
								if(data[x]['includeOnly'] == 1){
									includeOnly = true;
								}
								
							}
							
							// check for results in non-includeOnly pages
							if(includeOnly == false){
						
								// this is what will be returned
								var result = {
									PageId: x,
									Name: data[x]['name'],
									Url: data[x]['url'],
									Description: data[x]['description']
								}
								
								// walk through data[x]
								for(y in data[x]){
								
									var text = data[x][y].toLowerCase();
								
									// searh for the term
									if(text.search(new RegExp(context.text.toLowerCase(), 'i')) != -1){
										
										// push found pages
										context.push('results', result);
										
										break;
											
									}
					
								}
							
							}
							
						}
						
					}
					
				
					// set noResults
					if(context.results.length == 0){
						context.showNoResults = true;
					}
					else{
						context.showNoResults = false;
					}
					
					
					// set loading
					context.loading = false;
			    }
			    else if(xhr.status !== 200){
			    	context.loading = false;
			        console.log('[respond.error] respond-search component: failed post, xhr.status='+xhr.status);
			    }
			};
			
			// serialize the data
			var qs = [];
			
			for(p in params){
			    qs.push(encodeURIComponent(p) + "=" + encodeURIComponent(params[p]));
			}
			
			qs = qs.join("&");
			
			// send serialized data
			xhr.send(encodeURI(qs));
			
			e.preventDefault();
			return false;
		
		},
		
		i18n: function(text){
		  	return respond.site.i18n(text);
		}
	
	});
</script>