<polymer-element name="respond-list-calendar" attributes="type pagesize orderby pageresults">
  <template>
  	<style>
	  	/* begin list */
		.respond-list{
			list-style: none;
		  	border: 1px solid #ddd;
		  	margin: 0 0 25px 0;
		  	padding: 0;
		}
		
		.respond-list li{
		  	position: relative;
		  	border-bottom: 1px solid #ddd;
		  	padding: 10px;
		}
		
		.respond-list li:last-child{
		  	border-bottom: none;
		}
		
		.respond-list h4, .respond-list h5, .respond-list p{
			margin: 0 0 5px 0;
		  	padding: 0;
		}
				
		.respond-list p{
			margin-bottom: 0;
		}
		
		.respond-list a, .respond-list a:visited, .respond-list a:hover{
			text-decoration: none;
		}
		
		.respond-list img{
		  	position: absolute;
		  	top: 10px;
		  	left: 5px;
		  	width: 100px;
		}
		
		.respond-list .has-image{
			padding-left: 110px;
		  	min-height: 100px;
		}
		
		.map-container{
			width: 100%;
		  	height: 200px;
		  	border: 1px solid #ddd;
		  	margin-bottom: 5px;
		}
		
		.list-actions{
			margin: 0 0 25px 0;
		  	padding: 0;
		  	vertical-align: top;
		}
		
		.list-actions .pager{
		  	margin: 0 15px 0 0;
		  	padding: 0;
			display: inline-block;
		}
		
		.list-actions button{
		  	font-size: 14px;
		  	display: inline-block;
		    box-sizing: border-box;
		  	background-color: #fff;
		  	border: 1px solid #ddd;
		  	padding: 0 15px;
		  	font-size: 16px;
		    height: 45px;
		    line-height: 45px;
		    vertical-align: top;
		    outline: none;
		}
		
		.list-actions a{
		  	display: inline-block;
		    box-sizing: border-box;
		    text-decoration: none;
			background-color: #fff;
		  	border: 1px solid #ddd;
		  	padding: 0 15px;
		  	margin: 0 1px;
		  	font-size: 16px;
		    cursor: pointer;
		    height: 45px;
		    line-height: 45px;
		    vertical-align: top;
		}
		
		.list-actions a.active{
			background-color: #f0f0f0;
		}
		
		paper-spinner{
			vertical-align: top;
			margin-top: 7px;
			margin-left: 7px;
		}
		
		paper-spinner::shadow .circle {
	        border-color: #4285f4;
	    }
	    		
		/* begin calendar */
		.respond-calendar{ 
		  margin: 0px 0px 20px 0px;
		  border: 1px solid #ddd;
		  overflow: hidden;
		}
		
			.respond-calendar a, .respond-calendar a:visited, .respond-calendar a:hover{
		        color: config(--default-link-color);
		        text-decoration: none;
		    }
		
			.respond-calendar .header, .respond-calendar .week{
				clear: both;
		  		width: 100.1%;
			}
		
			.respond-calendar .title{
		  		position: relative;
				color: #aaa;
		  		text-transform: uppercase;
		  		font-size: 12px;
		  		text-align: center;
		  		padding: 10px 0;
			}
		
			.respond-calendar .title .prev{
				position: absolute;
		  		top: 8px;
		  		left: 10px;
		  		font-size: 20px;
		  		cursor: pointer;
			}
		
			.respond-calendar .title .next{
				position: absolute;
		  		top: 8px;
		  		right: 10px;
		  		font-size: 20px;
		  		cursor: pointer;
			}
		
		    .respond-calendar .week{
		        height: 150px;
		  		width: 100.1%;
		  		display: block;
		    }
		
		    .respond-calendar .day{
		  		position: relative;
		        display: block;
		  		box-sizing: border-box;
		        margin: -1px 0 0 0;
		        padding: 35px 0 0 0;
		        width: 14.28%;
		        height: 150px;
		        text-align: left;
		        font-size: 0.8em;
		        color: #ddd;
		        float: left;
		        color: #888;
		        border-right: 1px solid #ddd;
		        border-bottom: 1px solid #ddd;
		    }
		
		    .respond-calendar .day:nth-child(7){
		        border-right: 0;
		    }
		
			.respond-calendar .week:last-child .day{
		        border-bottom: 0;
		    }
		
			.respond-calendar .header span{
		        display: block;
		  		box-sizing: border-box;
		        width: 14.28571428571429%;
		        font-size: 0.8em;
		  		background-color: #ccc;
		        float: left;
		        color: #fff;
				height: 25px;
				line-height: 25px;
		  		text-align: center;
		        cursor: pointer;
		    }
		
			.respond-calendar .day{
				background-color: #f8f8f8;
			}
		
		    .respond-calendar .day.active{
		        background-color: #fff;
		    }
		
				.respond-calendar .day .day-number{
					position: absolute;
		  			top: 0;
		  			left: 0;
		  			color: #222;
		  			text-align: center;
		  			line-height: 30px;
		  			width: 30px;
		  			height: 30px;
		  			border-right: 1px solid #f0f0f0;
		  			border-bottom: 1px solid #f0f0f0;
		  			color: #ccc;
				}
		
				.respond-calendar .day.active .day-number{
					background-color: #fff;
		  			border-right: 1px solid #ddd;
		  			border-bottom: 1px solid #ddd;
		  			color: #222;
				}
		    
				.respond-calendar .day.today .day-number{
		      		background-color: #CBE86B;
		  			border-right: 1px solid #CBE86B;
		  			border-bottom: 1px solid #CBE86B;
		      		color: #fff;
		    	}
		        
			.respond-calendar .event{
				margin: 0 5px 5px 5px;
			  	padding: 0 0 5px 0;
			  	border-bottom: 1px solid #f0f0f0;
			}
			
			.respond-calendar .event:last-child{
				border-bottom: none;
			}
			
			.respond-calendar .event h4{
			  font-weight: normal;
			  font-size: 14px;
			  margin: 0 0 5px 0;
			  padding: 0;
			}
			
				.respond-calendar .event h5{
			      color: #aaa;
			      font-weight: normal;
			      text-transform: uppercase;
			      font-size: 12px;
			 	  margin: 0;
			      padding: 0;
			  	}
  	</style>
  	
  	<div id="calendarContainer" class="respond-calendar"></div>
  	
	<ul class="respond-list">
		<template repeat="{{page in pages}}">
			<li class="{{page.CssClass}}">
				<template if="{{page.HasImage == true}}">
					<img src="{{images}}{{page.Thumb}}">
				</template>
				<h4><a href="{{page.Url}}">{{page.Name}}</a></h4>
				<template if="{{page.Callout != ''}}">
					<h5>{{page.Callout}}</h5>
				</template>
				<template if="{{page.Location != ''}}">
					<h5 class="respond-list-location">{{page.Location}}</h5>
				</template>
				<template if="{{page.BeginDateReadable != ''}}">
					<h5 class="respond-list-dates">{{page.BeginDateReadable}} - {{page.EndDateReadable}}</h5>
				</template>
				<p>{{page.Description}}</p>
			</li>
		</template>
	</ul>
	
	<template if="{{showPrevious == true || showNext == true}}">
		<div class="list-actions">
		
		<span class="pager">	
		<template repeat="{{page in pager}}">
			<a class="{{ {active: current == (page.title - 1) } | tokenList}}"
				on-click="{{gotoPage}}">{{page.title}}</a>
		</template>	
		</span>	
			
		<template if="{{showPrevious == true}}">
			<button on-click="{{previous}}">{{label.previous | i18n}}</button>	
		</template>
		
		<template if="{{showNext == true}}">
			<button on-click="{{next}}">{{label.next | i18n}}</button>	
		</template>
		
		<template if="{{loading == true}}">
			<paper-spinner active></paper-spinner>
		</template>
		
		</div>
	</template>
	
  </template>
  
  <script>

  Polymer('respond-list-calendar', {
	  
	label:{
	  		next: 'Next',
			previous: 'Previous'
	  },
	  
	count: 0,
	numberOfPages: 1,
	showNext: false,
	showPrevious: false,
	loading: false,  
	pager: [],

	// ready
	ready: function() {
		
		// get page information
		this.pageId = document.body.getAttribute('page');
		this.siteId = respond.site.settings.SiteId;
		this.api = respond.site.settings.API;
		this.images = respond.site.settings.ImagesUrl;
		this.pageResults = (this.pageresults === 'true');
		this.current = 0;
		
		// create the calendar              
		this.calendar = this.$.calendarContainer;
		
		var now = moment();
		
		this.buildCalendar(this.calendar, now, 2);
		
		// set pages
		this.pages = [];
		
		// set params
		this.params = {
			siteId: this.siteId,
			type: this.type,
			pagesize: this.pagesize,
			current: this.current,
			orderby: this.orderby
		}
		
		// get the pages
		this.getPages(this.current);
		
		// set context
		var context = this;
		
		// set params
		var params = {
			siteId: this.siteId,
			type: this.type
		}

		// submit form
		var xhr = new XMLHttpRequest();
		
		// set URI
		var uri = this.api + '/page/published/count';
		
		xhr.open('POST', encodeURI(uri));
		xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
		xhr.onload = function() {
		    if(xhr.status === 200){
		    	var data = JSON.parse(xhr.responseText);
		    
		    	context.count = data.count;
				context.numberOfPages = Math.ceil(data.count / context.pagesize);
				
				// show/hide buttons
				context.showPreviousNext();
				
				// build pager
				for(x = 0; x < (context.count-1); x++){
					context.pager.push({'title': (x+1)});
				}
		    }
		    else if(xhr.status !== 200){
		    	context.loading = false;
		        console.log('[respond.error] respond-list-blog component: failed post, xhr.status='+xhr.status);
		    }
		};
		
		// serialize the data
	    var qs = [];
	    
	    for(p in params){
		    qs.push(encodeURIComponent(p) + "=" + encodeURIComponent(params[p]));
	    }
	    
	    qs = qs.join("&");
	    
		// send serialized data
		xhr.send(encodeURI(qs));
	
	},
	
	// builds a calendar
	buildCalendar:function(el, m_start, weeks){

		// set begin and end
		var m_start = m_start.startOf('day');
		var m_end = moment(m_start).startOf('day').add('days', weeks*7);
	
	
		// build weekdays
		var days = moment.weekdaysShort();
	
		var container = '<div class="respond-calendar-container">';
	
		var day = parseInt(m_start.format('d'));
	
		// create title
		var title = '<div class="title">' +
					 m_start.format('dddd, MMMM Do') + ' - ' + m_end.format('dddd, MMMM Do') +
					 '<i class="prev fa fa-angle-left" ' +
					 'data-start="' + m_start.format('YYYY-MM-DD HH:mm:ss') + '" data-weeks="' + weeks + '" ' +
					 'data-list="' + $(el).attr('data-list') + '"' +
					 '></i>' +
					 '<i class="next fa fa-angle-right" ' +
					 'data-start="' + m_start.format('YYYY-MM-DD HH:mm:ss') + '" data-weeks="' + weeks + '" ' +
					 'data-list="' + $(el).attr('data-list') + '"' +
					 '></i>' +
					 '</div>'
	
		// create header (weeks)
		var header =  '<div class="header">';
	
		for(x=0; x<days.length; x++){
			header += '<span>' + days[x] + '</span>';
		}
	
		header += '</div>';
	
		container += '<div class="week">';
	
		var pastDate = true;
		var cssClass = '';
	
	
		for(x=0; x<(7*weeks)+day+1; x++){
	
			// create offset
			var offset = x - day;
	
			// get date
			var curr_date = moment(m_start).add('days', offset);
	
			// current day
			var curr_day = parseInt(curr_date.format('d'));
	
			// difference b/w days
	        var diff = curr_date.diff(m_start, 'days');
	        
			if(diff >= 0){
				cssClass = ' active';
			}
	
			if(moment(curr_date).isSame(moment(), 'day')){
				cssClass += ' today';
			}
	        
			if(offset==0){
				container += '<span class="day'+cssClass+'" data-date="'+curr_date.format('YYYY-MM-DD')+'">';
				pastDate = true;
			}
			else{
				container += '<span class="day'+cssClass+'" data-date="'+curr_date.format('YYYY-MM-DD')+'">';
			}
	
			container += '<span class="day-number">'+curr_date.format('D') + '</span>';
	
			container += '</span>';
	
			if((x+1)%7==0){
				container+='</div><div class="week">';
			}
	
	    }
	
	    container += '</div></div>';
	
	
	    $(el).html(title+header+container);
	
	},
	
	// adds a point to the calendar
	addEvent:function(el, beginDate, endDate, content){

		if(beginDate != null){

			var el = $(el);
		
			// create begin and end from moment
			var m_begin = moment(beginDate, "YYYY-MM-DD HH:mm:ss");
			var m_end = moment(endDate, "YYYY-MM-DD HH:mm:ss");
		
			var els = $(el).find('[data-date='+m_begin.format('YYYY-MM-DD')+']');
		
			if(els.length > 0){
				$(els[0]).append(content);
			}	
		
		}
					
	},
	
	// gets a list of pages
	getPages:function(current){
		
		this.current = current;
		this.params.current = current;
		
		// set loading
		this.loading = true;
		
		var context = this;
		
		// show/hide buttons
		context.showPreviousNext();
		
		// set params
		var params = this.params;
		
		// submit form
		var xhr = new XMLHttpRequest();
		
		// set URI
		var uri = this.api + '/page/published/list';
		
		xhr.open('POST', encodeURI(uri));
		xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
		xhr.onload = function() {
		    if(xhr.status === 200){
		    	var data = JSON.parse(xhr.responseText);
		    
		    	// set class for data
				for(x=0; x<data.length; x++){
					
					// set CssClass
					if(data[x].HasImage == true){
						data[x].CssClass = 'has-image';
					}
					else{
						data[x].CssClass = '';
					}
					
					// create begin and end
					var m_begin = moment(data[x].BeginDate, "YYYY-MM-DD HH:mm:ss");
					var m_end = moment(data[x].EndDate, "YYYY-MM-DD HH:mm:ss");
				
					// create time display
					var time = m_begin.format('h:mm a') + ' - ' + m_end.format('h:mm a');
					
					// create content for event
					var content = '<div class="event content">' +
											'<h4><a href="' + data[x].Url + '">' + data[x].Name + '</a></h4>' +
											'<h5>' + time + '</h5>' +
											'<p>' + data[x].Description + '</p>' +
											'</div>';
					
					// add a point to the calendar
					context.addEvent(context.calendar, data[x].BeginDate, data[x].EndDate, content);
					
				}
				
				// update pages
				context.pages = data;
				
				// set loading
				context.loading = false;
		    }
		    else if(xhr.status !== 200){
		    	context.loading = false;
		        console.log('[respond.error] respond-list-blog component: failed post, xhr.status='+xhr.status);
		    }
		};
		
		// serialize the data
	    var qs = [];
	    
	    for(p in params){
		    qs.push(encodeURIComponent(p) + "=" + encodeURIComponent(params[p]));
	    }
	    
	    qs = qs.join("&");
	    
		// send serialized data
		xhr.send(encodeURI(qs));
		
		
	},
	
	// previous event handler
	previous:function(){
		this.getPages(this.current-1);
	},
	
	// previous event handler
	next:function(){
		this.getPages(this.current+1);
	},
	
	// previous event handler
	gotoPage:function(e, detail, sender){
		
		var index = e.target.templateInstance.model.page.title;
		
		this.getPages(index-1);
	},
	
	// show previous and next buttons
	showPreviousNext:function(){
		
		// set next and previous
		if(this.pageResults == true){
			
			// set showNext
			if(this.current < (this.numberOfPages - 1)){
				this.showNext = true;
			}
			else{
				this.showNext = false;
			}
			
			// set showPrevious
			if(this.current != 0){
				this.showPrevious = true;
			}
			else{
				this.showPrevious = false;
			}
			
		}
	},
      
	i18n: function(text){
	  return respond.site.i18n(text);
	}

    
  });
  </script>
</polymer-element>