<dom-module id="respond-search-toggle">

	<style>
		.toggle{
			display: none;
			width: 65px;
		  	height: 65px;
		  	line-height: 65px;
		  	text-align: center;
		  	color: #555;
		}
		
			.toggle[visible]{
				display: block;
			}
    </style>

	<template>
	
		<a class="toggle" 
			visible$="{{showSearch}}"
			on-click="toggleSearch"><core-icon icon="search"></core-icon></a>
	
	</template>
</dom-module>

<script>
  Polymer({
	  	is: "respond-search-toggle",
	
	  	// element attributes
	  	properties: {},
		
		// attached
		attached: function() {
			this.showSearch = true;		
		},
		
		// toggle search
		toggleSearch: function(){
		
			// fire search toggle
			this.fire('search-toggled');
		  
		}
	
	});
</script>